@import "lib/bourbon/bourbon";
@import "lib/bootstrap";
@import "lib/bootstrap-datepicker";
@import "lib/bootstrap-responsive";
@import "lib/font-awesome";

@import "plugins/panels";

@import "base/empty";
@import "base/accordian";

@import "views/concept";
@import "views/field-stats";
@import "views/field-form";

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
