@import "partials/constants";
@import "partials/mixins";
@import "partials/shadows";
@import "partials/reset";
@import "partials/typography";
@import "partials/container";
@import "partials/extras";
// leave for last to override everything else
@import "partials/iecompat";


body {
    background: url(../img/linen_tile.png);
}

header {
    @include anchors(#666, #333);
    @include dual-shadow(0 1px 3px darken($DEFAULT_COLOR, 20), 0 1px 3px #aaa inset);
    @include opacify(90);

    color: #666;
    font-size: 0.85em;
    text-shadow: $LIGHT_TEXT_SHADOW;

    min-height: 25px;
    padding: 5px 10px;

    background-color: #fcfcfc;
    border-bottom: 1px solid #fff;

    > * {
        vertical-align: middle;        
    }
    
    > span {
        float: right;
        margin-top: 7px;      
    }
}

nav {
    @include anchors(#666, #333);
    
    ul {
        color: #666;
        padding: 0;
        margin-bottom: 10px;
        list-style: none;
        font-size: 12px;
        text-shadow: $LIGHT_TEXT_SHADOW;
        
        li {
            display: inline;
            margin-right: 12px;
            padding-left: 7px;
            background: transparent url(../img/bc.gif) no-repeat 0 5px;
        }
    }
}

footer {
    color: darken($DEFAULT_COLOR, 50);
    font-weight: 500;
    text-shadow: 0 1px 2px lighten($DEFAULT_COLOR, 100);
    font-size: 0.9em;
    text-align: center;
}

table {
    width: auto;
    margin-bottom: 0;

    td, th {
        vertical-align: top;
        padding-top: 7px;
        padding-bottom: 7px;
    }
}

label {
    padding: 2px 0;
}

input {
    @include shadow(0 2px 4px #ddd inset);
}

input[type=button], input[type=submit], button {
    @include radius(3px);
    @include floated(#ddd);

    cursor: pointer;
    position: relative;

    color: #000;
    padding: 2px 4px;
    font-weight: 500;
    border: 1px solid #666;
    text-shadow: $LIGHT_TEXT_SHADOW;

    > .icon {
        margin-top: -3px;
    }

    &:hover {
        border-color: #000;
    }

    &:active {
        @include linear-gradient(#bbb, #ddd); 
        top: 1px;
    }

    &:disabled {    
        @include linear-gradient(#eee, #ccc);
        @include shadow(none);

        color: #999;
        border-color: #aaa;
        cursor: auto;        
        text-shadow: $LIGHT_TEXT_SHADOW;

        &:hover {
            border-color: #aaa;        
        }

        &:active {
            @include linear-gradient(#eee, #ccc);

            top: 0;
            color: #999;
            border-color: #aaa;
            text-shadow: $LIGHT_TEXT_SHADOW;
        }     
    }
}

.messages {
    .success { @include message(#002E24, success); }
    .warning { @include message(#653400, warning); }
    .error { @include message(#500700, error); }
    .information { @include message(#000F3C, info); }
}

.message {
    &.success { @include message(#002E24, success); }
    &.warning { @include message(#653400, warning); }
    &.error { @include message(#500700, error); }
    &.information { @include message(#000F3C, info); }
}

#content {
    position: relative;
    left: -480px;
    margin: 30px 50%;
    width: 960px;
}
