@import "partials/constants";
@import "partials/mixins";
@import "partials/shadows";
@import "partials/reset";
@import "partials/typography";
@import "partials/container";
@import "partials/extras";
// leave for last to override everything else
@import "partials/iecompat";

body {
    height: 100%;
    background: url(../img/noisy_tile.png);
}

header {
    @include anchors(#666, #333);

    -moz-box-shadow: 0 2px 5px #bbb, 0 1px 2px #ccc inset;
    -webkit-box-shadow: 0 2px 5px #bbb, 0 1px 2px #ccc inset;
    -o-box-shadow: 0 2px 5px #bbb, 0 1px 2px #ccc inset;
    box-shadow: 0 2px 5px #bbb, 0 1px 2px #ccc inset;
    
    display: block;
    background-color: #fcfcfc;
    padding: 5px 10px;
    border-bottom: 1px solid #fff;
    font-size: 0.8em;
    color: #666;
    text-shadow: $LIGHT_TEXT_SHADOW;
    min-height: 25px;
    
    > * {
        vertical-align: middle;        
    }
    
    > span {
        float: right;
        margin-top: 6px;      
    }
}

nav {
    @include anchors(#666, #333);
    
    ul {
        color: #666;
        padding: 0;
        margin-bottom: 10px;
        list-style: none;
        font-size: 12px;
        text-shadow: $LIGHT_TEXT_SHADOW;
        
        li {
            display: inline;
            margin-right: 12px;
            padding-left: 7px;
            background: transparent url(../img/bc.gif) no-repeat 0 5px;
        }
    }
}

footer {
    @include anchors(#999, #666);
    
    display: block;
    color: #666;
    position: relative;
    top: 70px;
    left: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 11px;
    text-shadow: $LIGHT_TEXT_SHADOW;
}

table {
    width: auto;
    margin-bottom: 0;

    td, th {
        vertical-align: top;
        padding-top: 7px;
        padding-bottom: 7px;
    }
}

label {
    padding: 2px 0;
}

input {
    -webkit-box-shadow: inset 0 2px 4px #ddd;
}

input[type=button], input[type=submit], button {
    @include linear-gradient(#aaa, #777);
    @include border-radius(3px, 3px, 3px, 3px);
    @include box-shadow(0, 2px, 5px, 0, #aaa);

    height: 20px;
    cursor: pointer;
    position: relative;
    color: #fff;
    border: 1px solid #666;
    text-shadow: $DARK_TEXT_SHADOW;
    font-weight: bold;
    font-size: 0.9em;

    > .icon {
        margin-top: -3px;
    }

    &:hover {
        border-color: #000;
    }

    &:active {
        @include linear-gradient(#444, #888); 
        top: 1px;
    }

    &:disabled {    
        @include linear-gradient(#eee, #ccc);
        @include no-box-shadow;

        color: #999;
        border-color: #aaa;
        cursor: auto;        
        text-shadow: $LIGHT_TEXT_SHADOW;

        &:hover {
            border-color: #aaa;        
        }

        &:active {
            @include linear-gradient(#eee, #ccc);

            top: 0;
            color: #999;
            border-color: #aaa;
            text-shadow: $LIGHT_TEXT_SHADOW;
        }     
    }
}

/*
input[type=button], input[type=submit], button {
    @include linear-gradient(#eee, #ccc);
    @include border-radius(2px, 2px, 2px, 2px);
    
    font-size: 0.9em;
    color: #000;
    cursor: pointer;
    padding: 2px 5px;    
    border: 1px solid #aaa;
    text-shadow: $LIGHT_TEXT_SHADOW;
    
    &:hover {
        border-color: #666;        
    }
    
    &:active {
        @include linear-gradient(#555, #999);
    
        border-color: #666;
        color: #fff;
        text-shadow: $DARK_TEXT_SHADOW;        
    }
    
    &:disabled {    
        color: #999;
        cursor: auto;        
    }
}

button {
    > * {
        vertical-align: middle;
    }

    &:active {
        // not sure how I feel about this being here...
        .icon {
            background-position-y: -16px;
        }
    }
}
*/
.messages {
    .success { @include message(#002E24, success); }
    .warning { @include message(#653400, warning); }
    .error { @include message(#500700, error); }
    .information { @include message(#000F3C, info); }
}

.message {
    &.success { @include message(#002E24, success); }
    &.warning { @include message(#653400, warning); }
    &.error { @include message(#500700, error); }
    &.information { @include message(#000F3C, info); }
}

#content {
    position: relative;
    top: 50px;
    left: 50%;
    margin-left: -480px;
    width: 960px;
}
