@import "partials/constants";
@import "partials/mixins";
@import "partials/shadows";
@import "partials/reset";
@import "partials/typography";
@import "partials/container";
@import "partials/extras";
// leave for last to override everything else
@import "partials/iecompat";


body {
    background: url(../img/linen_tile.png);
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

header {
    @include anchors(#666, #333);
    @include dual-shadow(0 1px 3px darken($DEFAULT_COLOR, 20), 0 1px 3px #aaa inset);

    color: #666;
    font-size: 0.85em;

    position: position;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;

    min-height: 25px;
    padding: 5px 10px;

    background-color: #fcfcfc;
    border-bottom: 1px solid #fff;

    > * {
        vertical-align: middle;        
    }
    
    > span {
        float: right;
        margin-top: 7px;      
    }
}

nav {
    @include anchors(#666, #333);
    
    ul {
        color: #666;
        padding: 0;
        margin-bottom: 10px;
        list-style: none;
        font-size: 12px;
        text-shadow: $LIGHT_TEXT_SHADOW;
        
        li {
            display: inline;
            margin-right: 12px;
            padding-left: 7px;
            background: transparent url(../img/bc.gif) no-repeat 0 5px;
        }
    }
}

#content {
    position: absolute;
    top: 80px;
    left: 50%;
    margin-left: -480px;
    width: 960px;
}

footer {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    z-index: -1;

    color: darken($DEFAULT_COLOR, 50);
    text-shadow: 0 1px 2px lighten($DEFAULT_COLOR, 100);
    font-size: 0.9em;
    text-align: center;
}

table {
    width: auto;
    margin-bottom: 0;

    td, th {
        vertical-align: top;
        padding-top: 7px;
        padding-bottom: 7px;
    }
}

label {
    padding: 2px 0;
}

input {
    @include inset(#f6f6f6);
}

input[type=button], input[type=submit], button {
    @include radius(3px);
    @include floated(#ddd);
    @include letterpress(#222);

    cursor: pointer;
    position: relative;

    padding: 2px 5px;
    font-weight: 600;
    font-size: 0.9em;
    border: 1px solid #666;

    > .icon {
        margin-top: -4px;
    }

    &:hover {
        border-color: #222;
    }

    &:active {
        @include vertical-gradient(#bbb, #ddd); 
        top: 1px;
    }

    &:disabled {    
        @include vertical-gradient(#eee, #ccc);
        @include shadow(none);

        color: #999;
        border-color: #aaa;
        cursor: auto;        
        text-shadow: $LIGHT_TEXT_SHADOW;

        &:hover {
            border-color: #aaa;        
        }

        &:active {
            @include vertical-gradient(#eee, #ccc);

            top: 0;
            color: #999;
            border-color: #aaa;
            text-shadow: $LIGHT_TEXT_SHADOW;
        }     
    }
}

.messages {
    .success { @include message(#002E24, success); }
    .warning { @include message(#653400, warning); }
    .error { @include message(#500700, error); }
    .information { @include message(#000F3C, info); }
}

.message {
    &.success { @include message(#002E24, success); }
    &.warning { @include message(#653400, warning); }
    &.error { @include message(#500700, error); }
    &.information { @include message(#000F3C, info); }
}
