@import "partials/constants";
@import "partials/mixins";
@import "partials/shadows";
@import "partials/icons";
@import "partials/icons";
@import "partials/overlay";

/*
 * Panes - layout
 */

#left-pane {
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    width: 730px;
    z-index: 100;

    @include linear-gradient(#f3f3f3, #e6e6e6);
    
    > .content {
        margin: 10px;
        padding: 0;
        background: inherit;
    }
}

#center-pane {
    min-height: 300px;
    padding-top: 10px;
    position: relative;
    z-index: 5;
}

#right-pane {
    display: inline-block;
    position: relative;
    vertical-align: top;
    top: 0;
    left: 20px;
    width: 200px;
    z-index: 100;
}

/*
 * Navigation tabs
 */

#tabs {

    border-bottom: 1px solid #aaa;

    > * {
        vertical-align: bottom;
    }

    form {
        display: inline-block;
        padding: 8px 0 5px 12px;
        float: right;
        margin-right: 1px;
    }

    input {
        @include search-box;
    }
} 

#categories {
    
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    text-shadow: $LIGHT_TEXT_SHADOW;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    border-top: 1px solid #aaa;

    > * {
        @include linear-gradient(#eee, #ddd);

        color: #333;
        height: 16px;
        padding: 6px 12px 15px 12px;
        vertical-align: top;
        border-bottom: 1px solid #aaa;
        border-left: 1px dotted #777;
        display: inline-block;
        cursor: pointer;
        background-color: #ddd;
        margin-bottom: -1px;

        &:hover {
            color: #333;
            cursor: pointer;        
        }
        
        > * {
            vertical-align: middle;
        }
    }
    
    > .active {
        @include linear-gradient(#fff, #f6f6f6);
        @include no-box-shadow;

        border-color: #999;
        border-bottom-color: #f6f6f6;

        text-shadow: none;
        cursor: default;
        position: relative;
        
        &:hover {
            cursor: default;        
        }
    }

    > :first-child {
        border-left: none;            
    }
}

#subcategories {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    font-size: 0.9em;
}

/*
 * List of criteria
 */
#criteria {
    @include border-radius(3px, 3px, 3px, 3px);   
    @include vertical-thin-scrollbar;

    -moz-box-shadow: 0 1px 1px #fff, 0 1px 2px #ccc inset;
    -webkit-box-shadow: 0 1px 1px #fff, 0 1px 2px #ccc inset;
    -o-box-shadow: 0 1px 1px #fff, 0 1px 2px #ccc inset;
    box-shadow: 0 1px 1px #fff, 0 1px 2px #ccc inset;

    font-size: 0.9em;
    width: 170px;
    padding: 5px 1px;
    max-height: 500px;
    overflow: auto;
    text-shadow: $LIGHT_TEXT_SHADOW;
    background-color: #f7f7f7;
    border: 1px solid #aaa;
    
    > div {
        @include border-radius(3px, 3px, 3px, 3px);
        @include inset-box-shadow(0, 1px, 1px, 0, #fdfdfd);

        padding: 7px;
        border-bottom: 1px solid #ddd;
        cursor: pointer;
        font-weight: 500;
        
        &.active {
            @include box-shadow(0, 2px, 7px, 0, #444);  
            @include linear-gradient(#999, #777);

            position: relative;
            z-index: 5;
            color: #000;
            background-color: #999;
            border-color: transparent;

            &:hover {
                @include box-shadow(0, 2px, 7px, 0, #444);
            }
        }        
        
        &:hover {
//            @include no-box-shadow;

            color: #000;
            background-color: #999;
        }
    }    
    
    // contents gets extracted and put into #description
    .description {
        display: none;
    }

    // Information "i"
    .info {
        @include opacify(20);
        float: right;
        margin-left: 5px;

        &:hover {
            background-position-y: -16px;
        }
    }
}

/* Other standalone elements */
#description, #search-results {
    @include raised-drop-shadow;
    @include border-radius(5px, 5px, 5px, 5px);
    @include vertical-thin-scrollbar;
    
    padding: 5px 10px;
    z-index: 1000;
    position: absolute;
    display: none;
    background-color: #fff;
    border: 1px solid #666;
    width: 300px;
    max-height: 400px;
    overflow: auto;
    white-space: pre-line;
}

#description {
    max-height: 300px;

    > p {
        margin: 5px 0;
    }
}

#search-results {
    padding: 5px 0px;
    font-size: 0.9em;
    width: 200px;

    > * {
        padding: 5px 10px;
        margin: 0;

        > span {
            font-variant: italic;
        }
    }

    > div:hover {
        color: #000;
        background-color: #dfdfdf;
        cursor: pointer;
    }
}

#no-conditions {
    border: none;
    background-color: transparent;
}

#plugin-panel {
    @include border-radius(3px, 3px, 3px, 3px);

    -moz-box-shadow: 0 1px 1px #fff, 0 1px 2px #ccc inset;
    -webkit-box-shadow: 0 1px 1px #fff, 0 1px 2px #ccc inset;
    -o-box-shadow: 0 1px 1px #fff, 0 1px 2px #ccc inset;
    box-shadow: 0 1px 1px #fff, 0 1px 2px #ccc inset;

    float: right;
    width: 490px;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #aaa;
    margin-bottom: 0;
    
    .content {
        padding: 0;
    }
}

#plugin-static-content {
    margin-top: 10px;
}

.chart {
    width: 484px;
}

#add_to_query {
    margin-top: 10px;
    float: right;
}

/* Form elements below charts */
.view {
    font-size: 0.85em;

    h2 {
        text-align: center;
        font-size: 1.5em;
        color: #22465B;
        margin-bottom: 10px;
    }    

    p {
        margin: 0;
        padding: 5px 0;
        border-bottom: 1px dotted #999;
        vertical-align: middle;

        > span {
            display: inline-block;
            margin-left: 20px;
            vertical-align: middle;
            
            &:first-child {
                width: 90px;
                margin-left: 0;
            }
        }        
    }
}

/*
 * User-defined criteria
 */

.criterion {
    @include border-radius(3px, 3px, 3px, 3px);

    border: 2px solid #ddd;
    font-size: 12px;
    margin-bottom: 10px;
    padding: 4px 5px;
    cursor: pointer;
    
    &:hover, &.selected {
        @include box-shadow(0, 2px, 3px, 0, #aaa);
        
        border-color: #ECD41F;
        background-color: #FFFBB3;    
    }
    
    a {
        color: #603200;
        text-decoration: none;    
    }
    
    .remove-criterion {
        background: transparent url(../img/x.png) no-repeat;
        height: 32px;
        width: 32px;
        float: right;
        margin-right: -20px;
        margin-top: -18px;
    }    
}

// IE fixes

.ie7, .ie8 {
    // background: transparent does not work..
    #center-pane .content {
        @include linear-gradient(#f3f3f3, #e6e6e6);
    }
}

.ie7 {
    #left-pane, #right-pane, #tabs > * {
        zoom: 1;
        *display: inline;  
    } 

    #categories {        
        > * {
            padding-right: 11px;
            padding-left: 11px;
        }        
    }

    #tabs form {
        padding-right: 0px;
        padding-left: 7px;
    }
}
