@import "partials/constants";
@import "partials/mixins";
@import "partials/overlay";

/*
 * Panes - layout
 */

#left-pane {
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    width: 730px;
    z-index: 100;
    background-color: #F9F9F9;
    
    > .content {
        margin: 10px;
        padding: 0;
    }
}

#center-pane {
    min-height: 400px;
    max-height: 650px;
    padding: 10px 10px 8px 10px;
    border-right: 1px solid #ccc;    
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

#right-pane {
    display: inline-block;
    position: relative;
    vertical-align: top;
    top: 0;
    left: 20px;
    width: 200px;
    z-index: 100;
}

/*
 * Navigation tabs
 */

#tabs {
    background-color: #f9f9f9;

    > * {
        vertical-align: bottom;
    }

    form {
        display: inline-block;
        padding: 13px 12px 10px 12px;
        border-bottom: 1px solid #ccc;
    }

    input {
        @include search-box;
    }
} 

#categories {
    @include box-shadow(2px, -2px, 2px, 0, #ddd);

    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    text-shadow: $LIGHT_TEXT_SHADOW;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;

    > * {
        color: #333;
        height: 16px;
        padding: 9px 12px 18px 12px;
        vertical-align: top;
        border-bottom: 1px solid #ccc;
        border-left: 1px dotted #aaa;
        display: inline-block;
        cursor: pointer;
        background-color: #eee;

        &:hover {
            color: #333;
            cursor: pointer;        
        }
        
        > * {
            vertical-align: middle;
        }
    }
    
    > .active {
        background-color: #fff;
        border-bottom-color: #fff;
        text-shadow: none;
        cursor: default;
        
        &:hover {
            cursor: default;        
        }
    }

    > :first-child {
        border-left: none;            
    }
}

#subcategories {
    padding: 7px 0 7px 10px;
    display: block;
    background-color: #fff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

    > span {
        @include border-radius(3px, 3px, 3px, 3px);
        font-size: 0.85em;
        padding: 2px 5px;
        margin: 0 10px 0px 0;
        border: 1px solid #fff;
        letter-spacing: 1px;

        &:hover {
            cursor: pointer;
            background-color: #ddd;
            border-color: #ddd;
        }

        &.active {
            @include inset-box-shadow(0, 2px, 5px, 0, #555);
            text-shadow: $DARK_TEXT_SHADOW;
            background-color: #777;
            color: #fff;
            border-color: #444;
            cursor: auto;
        }
    }
}

/*
 * List of criteria
 */
#criteria {
    @include vertical-thin-scrollbar;
    
    font-size: 0.9em;
    width: 170px;
    display: inline-block;
    padding-right: 5px;
    max-height: 550px;
    overflow: auto;
    text-shadow: $LIGHT_TEXT_SHADOW;
    
    > div {
        @include inset-box-shadow(0, 0, 8px, 0, #ccc);
        @include border-radius(3px, 3px, 3px, 3px);

        margin-top: 1px;
        padding: 10px;
        background-color: #eee;
        border: 1px solid #ccc;
        cursor: pointer;
        
        &.active {
            @include inset-box-shadow(0, 2px, 7px, 0, #444);
    
            color: #000;
            background-color: #999;
            border-color: transparent;

            &:hover {
                @include inset-box-shadow(0, 2px, 7px, 0, #444);
            }

            > .info {
                @include opacify(50);
            }
        }        
        
        &:first-child {
            margin-top: 0;
        }
        
        &:hover {
            @include no-box-shadow;

            color: #000;
            background-color: #999;
            border-color: transparent;

            > .info {
                @include opacify(50);

                &:hover {
                    @include opacify(100);
                }
            }
        }
    }    
    
    // contents gets extracted and put into #description
    .description {
        display: none;
    }

    // Information "i"
    .info {
        @include opacify(20);
        height: 16px;
        width: 16px;
        background-image: url(../img/icons/info.png);
        background-repeat: no-repeat;
        float: right;
        margin-left: 5px;

//        color: #999;
//        font-weight: bold;
//        font-family: 'courier new', monospace;
//        font-size: 14px;
//        float: right;
//        padding: 0 5px;
//        margin-right: -5px; /* compensate for padding */        
//        
//        &:hover {
//            color: #fff;
//        };
    }
}

/* Other standalone elements */
#description, #search-results {
    @include box-shadow(0, 15px, 10px, -10px, #999);
    @include border-radius(5px, 5px, 5px, 5px);
    @include vertical-thin-scrollbar;
    
    padding: 5px 10px;
    z-index: 1000;
    position: absolute;
    display: none;
    background-color: #fff;
    border: 3px solid #aaa;
    width: 300px;
    max-height: 400px;
    overflow: auto;
    white-space: pre-line;
}

#description {
    max-height: 300px;

    > p {
        margin: 5px 0;
    }
}

#search-results {
    width: 200px;
    padding: 5px 0px;

    > * {
        padding: 5px 10px;
        margin: 0;
    }

    > div:hover {
        background-color: yellow;
        cursor: pointer;
    }
}

#no-conditions {
    border: none;
    background-color: transparent;
}

#plugin-panel {
    @include no-box-shadow;
    
    display: none;
    float: right;
    width: 506px;
    min-height: 300px;
    
    .content {
        padding: 0;
    }
}

#plugin-static-content {
    margin-top: 10px;
}

.chart {
    width: 506px;
}

#add_to_query {
    float: right;
}

/* Form elements below charts */
.view {
    font-size: 0.85em;

    h2 {
        text-align: center;
        font-size: 1.5em;
        color: #22465B;
        margin-bottom: 10px;
    }    

    p {
        margin: 0;
        padding: 5px 0;
        border-bottom: 1px dotted #999;
        vertical-align: middle;

        > span {
            display: inline-block;
            margin-left: 20px;
            vertical-align: middle;
            
            &:first-child {
                width: 100px;
                margin-left: 0;
            }
        }        
    }
}

/*
 * User-defined criteria
 */

.criterion {
    @include border-radius(3px, 3px, 3px, 3px);

    border: 2px solid #ddd;
    font-size: 12px;
    margin-bottom: 10px;
    padding: 4px 5px;
    
    &:hover, &.selected {
        @include box-shadow(0, 2px, 3px, 0, #aaa);
        
        border-color: #ECD41F;
        background-color: #FFFBB3;    
    }
    
    a {
        color: #603200;
        text-decoration: none;    
    }
    
    .remove-criterion {
        background: transparent url(../img/x.png) no-repeat;
        height: 32px;
        width: 32px;
        float: right;
        margin-right: -20px;
        margin-top: -18px;
    }    
}

// IE fixes

.ie7, .ie8 {
    #plugin-panel {
        border: none;
    }    
}

.ie7 {
    #left-pane, #right-pane, #tabs > * {
        zoom: 1;
        *display: inline;  
    } 

    #categories {
        
        > * {
            padding-right: 11px;
            padding-left: 11px;
        }        
    }

    #tabs form {
        padding-right: 7px;
        padding-left: 7px;
    }

}
