#report-editor {
    @extend .clearfix;

    input[name="name"] {
        font-size: 22px;
        width: 473px;
        margin-bottom: 10px;
    }

    textarea {
        width: 473px;
        height: 100px;
    }

    .controls {
        margin-top: 10px;
        text-align: right;
    }
}

#report-name {
    // emulate the natural height of the element so it's doesn't resize when the
    // content is loaded
    min-height: 17px;
    cursor: pointer;
}

#report-info {
    textarea { display: none; width: 99%; }
    p { margin: 0; }

    $bgcolor: #f9f9f9;
    background-color: $bgcolor;

    border: {
        top: 1px solid darken($bgcolor, 30);
        left: 1px solid darken($bgcolor, 30);
        right: 1px solid darken($bgcolor, 30);
    }

    &.unsaved {
        $bgcolor: #f3f2d6;
        background-color: $bgcolor;
        border: {
            top: 1px solid darken($bgcolor, 30);
            left: 1px solid darken($bgcolor, 30);
            right: 1px solid darken($bgcolor, 30);
        }
    }

    &.saved {
        $bgcolor: #e0f3d6;
        background-color: $bgcolor;
        border: {
            top: 1px solid darken($bgcolor, 30);
            left: 1px solid darken($bgcolor, 30);
            right: 1px solid darken($bgcolor, 30);
        }
    }
}

#report-list {
    > div {
        cursor: pointer;
        padding: 5px;
        border: 1px solid transparent;

        &:hover {
            @include border-radius(3px);
            @include box-shadow(0 1px 1px #fff);
            border-color: #ccc;
            background-color: #fff;
        }
    }

    [role='description'] {
        @extend .info;
        display: none;
        padding: 5px;
        margin-top: 5px;
        background-color: #eee;
        font-size: 0.9em;

    }

    .controls {
        @include box-shadow(inset 0 2px 2px #ccc);
        @include border-radius(3px);
        display: none;
        background-color: #eee;
        border: 1px solid #bbb;
        margin-top: 5px;
        text-align: right;
        padding: 3px;
    }
}
