<div class=row-fluid>
    <div class=span6>
        <p class=muted>Below are the columns of data that are available for
            viewing. Note that depending on which columns are added to your
            report, the the number of rows may change.</p>
        <div class="search-region"></div>
        <div class="available-region"></div>
    </div>
    <div class=span6>
        <p class=muted>The order below (top-bottom) defines the order they
            will be displayed (left-right). To change the order simply
            click and drag any of the columns to the desired position.</p>
        <div class="selected-region"></div>
    </div>
</div>
