<div class=concept-name>
    <%= data.name %>
    <% if (data.category) { %>
        <span class=concept-category><%= data.category.name %></span>
    <% } %>
</div>

<% if (data.description) { %>
    <p class=concept-description><%= data.description %></p>
<% } %>

<div class=concept-fields></div>

<div class=concept-actions>
    <button data-toggle=add class="btn btn-success btn-mini">Add</button>
    <button data-toggle=update class="btn btn-primary btn-mini">Update</button>
    <button data-toggle=remove class="btn btn-danger btn-mini">Remove</button>
</div>
