<h2>Welcome!</h2>

<p class=lead>This is your data discovery and query workspace. Browse or search any of
the items on the left to view <strong>description information</strong>,
<strong>distribution charts</strong>, and <strong>various statistics</strong>.</p>

<div class="row-fluid workflow">
    <div class=span4>
        <i class="icon-angle-right icon-2x"></i>
        <i class="icon-lightbulb icon-2x"></i>
        <h3>Discover</h3>
    </div>
    <div class=span4>
        <i class="icon-angle-right icon-2x"></i>
        <i class="icon-question-sign icon-2x"></i>
        <h3>Query</h3>
    </div>
    <div class=span4>
        <i class="icon-bar-chart icon-2x"></i>
        <h3>Analyze</h3>
    </div>
</div>
