<span class=page-numbers>
    page <span class=current-page>-</span> / <span class=page-count>-</span>
</span>
<button class="btn btn-mini" data-page=first>
    <i class=icon-double-angle-left></i>
    <span class=text>First</span>
</button>
<button class="btn btn-mini" data-page=prev href=#>
    <i class=icon-angle-left></i>
    <span class=text>Prev</span>
</button>
<button class="btn btn-mini" data-page=next href=#>
    <span class=text>Next</span>
    <i class=icon-angle-right></i>
</button>
<button class="btn btn-mini" data-page=last href=#>
    <span class=text>Last</span>
    <i class=icon-double-angle-right></i>
</button>
