<span class=page-numbers>
    frame <span class=current-page>&infin;</span> / <span class=page-count>&infin;</span>
</span>
<button class="btn btn-mini" data-page=first><i class=icon-double-angle-left></i> First</button>
<button class="btn btn-mini" data-page=prev href=#><i class=icon-angle-left></i> Prev</button>
<button class="btn btn-mini" data-page=next href=#>Next <i class=icon-angle-right></i></button>
<button class="btn btn-mini" data-page=last href=#>Last <i class=icon-double-angle-right></i></button>
