
[submodule "modules/backbone-common"]
	path = modules/backbone-common
	url = git://github.com/bruth/backbone-common.git
[submodule "modules/coriander"]
	path = modules/coriander
	url = git://github.com/cbmi/coriander.git
[submodule "modules/highcharts"]
	path = modules/highcharts
	url = git://github.com/highslide-software/highcharts.com.git
[submodule "modules/jquery-idle-timeout"]
	path = modules/jquery-idle-timeout
	url = git://github.com/ehynds/jquery-idle-timeout.git
[submodule "modules/requirejs"]
	path = modules/requirejs
	url = git://github.com/jrburke/requirejs.git
[submodule "modules/rjs"]
	path = modules/rjs
	url = git://github.com/jrburke/r.js.git
[submodule "modules/jquery"]
	path = modules/jquery
	url = git://github.com/jquery/jquery.git
[submodule "modules/backbone"]
	path = modules/backbone
	url = git://github.com/amdjs/backbone.git
[submodule "modules/underscore"]
	path = modules/underscore
	url = git://github.com/amdjs/underscore.git
[submodule "modules/pubsub"]
	path = modules/pubsub
	url = git://github.com/bruth/pubsub.git
