.watch-pid
.sass-cache
.DS_Store
*.pyc
dist
MANIFEST

cilantro/static/cilantro/scripts/javascript/src/lib/highcharts.js

# compiled from CoffeeScript
cilantro/static/cilantro/scripts/javascript/src/main.js
cilantro/static/cilantro/scripts/javascript/src/pages
cilantro/static/cilantro/scripts/javascript/src/types
cilantro/static/cilantro/scripts/javascript/src/common
cilantro/static/cilantro/scripts/javascript/src/utils/logging.js
cilantro/static/cilantro/scripts/javascript/src/utils/search.js

# RequireJS optimizer may leave this behind
cilantro/static/cilantro/scripts/javascript/min

# Compiled from SCSS
cilantro/static/cilantro/stylesheets/css/*.css
cilantro/static/cilantro/stylesheets/css/coriander

# Submodule code
cilantro/static/cilantro/stylesheets/scss/coriander
cilantro/static/cilantro/scripts/coffeescript/common
cilantro/static/cilantro/scripts/javascript/src/vendor/jquery.idle.js
cilantro/static/cilantro/scripts/javascript/src/vendor/highcharts.js
cilantro/static/cilantro/scripts/javascript/src/vendor/jquery.js
cilantro/static/cilantro/scripts/javascript/src/vendor/require.js
bin/r.js
