*.DS_Store
*.sw?
*.py?
*.tar.gz
*.zip
.sass-cache
.watch-pid
local
build
dist
components
css/style.css
css/vocab/
.idea
.grunt
_SpecRunner.html
spec-runner.html
node_modules
gallery/extensions
extensions
templates/vocab
harvest-vocab
img/vocab
