#data-conditions-panel {
    position: fixed;
    top: 77px;
    bottom: 0;
    right: 0;
    width: 250px;

    .inner {
        padding: 0 15px;
    }


    .btn-toolbar {
        text-align: right;
    }
}


