#data-concepts-panel {
    @include box-shadow(none);
    left: 0;
    top: 77px;
    bottom: 0;
    background-color: transparent;
    border-right: 0;

    .inner {
        padding: 0 15px;
    }
}

#data-concepts {
    margin-bottom: 15px;
}

#data-concept-search {
    margin: 10px 0;

    // Use border-box sizing to allow to fill the entire containing. An
    // explicit height is necessary since padding is relative to the "box".
    input {
        @include box-sizing(border-box);
        width: 100%;
        height: 28px;
    }
}

.queryview {
    .details {
        @include border-radius(3px);
        display: none;
        background-color: #f9f9f9;
        padding: 10px;
        text-shadow: 0 1px 1px #fff;
    }

    .stat {
        padding: 0 10px;
        border-left: 1px solid #ddd;

        &:first-child {
            padding-left: 0;
            border-left: 0;
        }
    }

    .description {
        font-size: 14px;
        line-height: 24px;
        color: #666;
        margin-bottom: 10px;
    }

    .content {
        > * {
            @include inline-block;
            box-sizing: border-box;
            vertical-align: top;
        }

        .change-controls {
            border-top: 1px solid #ddd;
            padding-top: 18px;
            margin-top: 18px;
        }
    }

    .chart-container {
        @include box-shadow(none);
        border: none;
        margin: 0;

        .heading {
            display: none;
        }
        .btn-toolbar {
            display: none;
        }
        .chart {
            height: 200px;
            margin: 0;
        }
    }
}

#data-conditions-panel {
    position: fixed;
    top: 77px;
    bottom: 0;
    right: 0;
    width: 250px;

    .inner {
        padding: 0 15px;
    }


    .btn-toolbar {
        text-align: right;
    }
}


