.query-workflow {
    .concept-workspace-region {
        // Account for the panels that are rendered alongside the workspace
        // area and add a gutter
        margin-left: $panel-outer-width + 20;
        margin-right: $panel-outer-width + 20;
    }
}
