.results-workflow {
    .navbar-fixed-top {
        .navbar-inner {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    .serrano-version-warning {
        text-align: center;
    }

    .count-region {
        font-weight: bold;
        font-size: 1.4em;
    }

    .paginator-region {
        display: inline-block;
    }

    [data-toggle=columns] {
        margin-left: 10px;
    }

    .context-region {

    }

    .table-region {
        thead {
            th {
                position: relative;
                cursor: pointer;

                i {
                    position: absolute;
                    right: 5px;
                    top: 50%;

                    // Only about 6/13px are visible, margin is used to offset
                    // visible portion
                    &.icon-sort-up {
                        margin-top: -4px;
                    }

                    &.icon-sort-down {
                        margin-top: -8px;
                    }

                    &.icon-sort {
                        margin-top: -6px;
                    }
                }

                &:hover {
                    background-color: #eee;
                }
            }
        }
    }

    .export-progress-container {
        position: relative;
        width: 36px;
        cursor: pointer;

        .icon-circle-arrow-down {
            font-size: 35px;
            margin-left: 3px;
        }
        .progress {
            width: 36px;
            height: 6px;
            margin: 0;
            padding: 0;
        }
        .bar {
            width: 100%;
        }
        .badge {
            padding-left: 5px;
            padding-right: 5px;
            position: absolute;
            top: 0px;
            right: 0px;
        }
    }
}
