// sortable table
.sortable {
    width: auto;
    border-collapse: separate;
    font-size: 12px;
    margin: 15px 0;
    border-spacing: 2px;

    thead, tfoot {
        td, th {
            @include box-raised(#FFF9A4);
            @include text-shadow(inset, #444);
            border: 1px solid darken(#fff9a4, 40);
            text-align: center;
            font-weight: 500;
        }

        .desc, .asc {
            background-color: #FFEA5F;
            border-color: darken(#FFEA5F, 30);
        }

        .asc {
            background-image: url(../../images//coriander/asc.gif);
        }

        .desc {
            background-image: url(../../images//coriander/desc.gif);
        }

        // customize to accompany the ascending and descending icons
        .header {
            background-repeat: no-repeat;
            background-position: right center;
                cursor: pointer;

            span {
                padding-right: 16px;
            }
        }
    }

    tbody {

        tr.selected {
            background-color: #FFFBD8;
        }

        td, th {
            text-align: center;
            font-weight: normal;
            min-width: 150px;

            > p, ul, pre {
                text-align: left;
            }

            > ul li {
                margin-bottom: 5px;
            }
        }

        th {
            font-weight: 500;
        }
    }

    // nested tables
    .sortable, table {
        margin: 0;
        border-spacing: 0;

        thead, tfoot {
            td, th {
                @include box-shadow(none);
                background-color: transparent;
                border: none;
                font-weight: 500;
            }
        }

        thead {
            td, th { border-bottom: 1px solid #ccc }
        }

        tfoot {
            td, th { border-top: 1px solid #ccc }
        }
    }
}
