<h4 class=title>Data Summary</h4>

<div class='loading-message'>
    <i class='icon-spinner icon-spin'></i> Loading Summary Statistics...
</div>

<table class='table table-collapsed table-bordered table-striped hide'>
    <thead>
        <tr>
            <th data-sort='verbose_name'>Model <i class='icon-sort-up'></i><i class='icon-sort-down'></i></th>
            <th data-sort='count'>Count <i class='icon-sort-up'></i><i class='icon-sort-down'></i></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
