<button class="btn btn-mini" data-page=first data-toggle=tooltip title='First Page'>
    <i class=icon-double-angle-left></i>
    <span class='text large-display-button-text'>First</span>
</button>
<button class="btn btn-mini" data-page=prev data-toggle=tooltip title='Previous Page' href=#>
    <i class=icon-angle-left></i>
    <span class='text large-display-button-text'>Prev</span>
</button>
<button class="btn btn-mini" data-page=next data-toggle=tooltip title='Next Page' href=#>
    <span class='text large-display-button-text'>Next</span>
    <i class=icon-angle-right></i>
</button>
<button class="btn btn-mini" data-page=last data-toggle=tooltip title='Last Page' href=#>
    <span class='text large-display-button-text'>Last</span>
    <i class=icon-double-angle-right></i>
</button>
<span class=page-numbers>
    page <span class=current-page>-</span> / <span class=page-count>-</span>
</span>
