<h4>Sessions</h4>
<form class=form-inline>
    <div class="server-unauthorized alert alert-error">
        <strong>Authentication Failed</strong>
    </div>
    <div class="server-error alert alert-error">
        <strong>Server Error</strong> There was an error connecting with the
        server.
    </div>
    <select name=sessions>
        <% if (data.default) { %>
            <option value="<%= data.default.url %>"><%= data.default.name %></option>
        <% } %>
    </select>
    <input type=text name=session-url placholder="API endpoint...">
    <p class=muted>If the API endpoint requires authentication, supply your
        credentials to authenticate.</p>
    <input type=text name=username placeholder="username/email">
    <input type=password name=password placeholder="password">
    <button class=btn>New Session</button>
</form>
