<h2>Welcome!</h2>

<p>If this is your <strong>first time</strong>, welcome to your data
discovery and query workspace.</p>

<p>Get started by <strong>searching</strong> or <strong>browsing</strong>
something you are curious about on the left side. We've broken up the various
data you are interested into (hopefully) intuitive categories.</p>

<p>When you select one of the items on the left to view, you will be
presented with some <strong>description information</strong>,
<strong>distribution charts</strong> (for numerical data), and various
<strong>statistics</strong> about the data.</p>
