<h2>Welcome!</h2>

<div data-target=first-time>
    <p>Welcome to your data discovery and query workspace.</p>

    <p>Get started by <strong>searching</strong> or <strong>browsing</strong>
    something you are curious about on the left side. We've broken up the 
    various data you are interested into (hopefully) intuitive categories.</p>

    <p>When you select one of the items on the left to view, you will be
    presented with some <strong>description information</strong>,
    <strong>distribution charts</strong> (for numerical data), and various
    <strong>statistics</strong> about the data.</p>
</div>

<div data-target=welcome-back class=hide>
    <p>Welcome back. You can find your existing filters on the right and you
    can create new filters by selecting items on the left. Clicking on a filter
    on the right will open that item so you can edit it and see further 
    information associated with that filter.</p>
</div>
