<input type=text class="range-from" placeholder="[-&infin;]" />
<span class=muted> and </span>
<input type=text class="range-to" placeholder="[&infin;]"/>
<a class="btn range-help-button" href="#" title="Show/hide help text"><i class="icon-question-sign"></i></a>
<span class="help-block">Entering a number on the left while leaving the right empty represents a filter matching all numbers greater than or equal to the supplied number. Conversely, entering a number on the right and leaving the left empty represents a filter matching all numbers less than or equal to the supplied number. Entering values in both boxes will match all numbers within the range specified. The opposite applies when <strong>not between</strong> is selected from the choices above.</span>
