<input type=text class="range-lower" placeholder="[lower bound]" />
<span class=muted> and </span>
<input type=text class="range-upper" placeholder="[upper bound]"/>
<a class="btn range-help-button" href="#" title="Show/hide help text"><i class="icon-question-sign"></i></a>
<span class="help-block">Entering a value on the left while leaving the right empty represents a filter matching all values greater than or equal to the supplied value. Conversely, entering a value on the right and leaving the left empty represents a filter matching all values less than or equal to the supplied value. Entering values in both boxes will match all values within the range specified. The opposite applies when <strong>not between</strong> is selected from the choices above.</span>
