.load-view, .error-view, .empty-view, .empty-search-view {
    color: #575757;
}

.error-overlay-view {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 50px 10px;
}
