.load-view, .error-view, .empty-view {
    > i {
        margin-right: 5px;
    }
}

.load-view, .empty-view {
    color: #575757;
}

.error-view {
    i {
        @extend .text-error;
    }
}

.error-overlay-view {
    background-color: rgba(255, 255, 255, 0.7);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 50px 10px;
}
