.context {

    .actions-region {
        @include clearfix;
        border-bottom: 1px solid #aaa;
        margin-bottom: 10px;
        padding-bottom: 10px;

        .count-label {
            font-size: 1.4em;
            font-weight: bold;
        }
    }

    .tree-region .disabled {
        .language {
            color: #ccc;
        }
    }

    .info-region {
        padding: 10px 0;
    }

    .context-item {
        @extend .clearfix;

        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px dashed #ccc;

        .language {
            @include transition(color, 0.2s);
            @extend a;
            cursor: default;
        }

        .actions {
            float: right;
            font-size: 12px;
            margin-left: 5px;
            margin-bottom: 5px;

            .remove {
                color: rgb(180, 0, 0);
            }
        }
    }

    .branch-type {
        color: #999;
        font-weight: 500;
        font-size: 0.85em;
        font-variant: small-caps;
    }

    .branch-children {
        margin-left: 0;
    }
}
