.field-stats {
    border-bottom: 1px solid #ddd;
    display: inline-block;
    font-size: 0.9em;
    min-height: 21px;

    ul {
        margin: 0;
        list-style: none;
    }

    li {
        display: inline;
        margin-right: 10px;
    }

    .stat-label {
        font-weight: 200;
        padding: 2px 5px;
    }

    .stat-value {
        font-weight: 500;
        padding: 0 5px;
    }
}
