.field-info {
    margin-bottom: 10px;

    .name {
        font-weight: 600;
        font-size: 1.2em;
    }

    .unit {
        font-size: 0.9em;
        color: #999;
    }

    .description {
        color: #999;
    }
}
