.info-bar {
    margin-bottom: 5px;
    position: relative;
    height: 30px;
    cursor: pointer;

    .bar {
        @include transition((box-shadow, background-color) 0.2s);
        border-radius: 0 2px 2px 0;
        position: absolute;
        left: 0;
        background-color: #e9e9e9;
        height: 30px;
        min-width: 5px;
    }

    .bar-mask {
        padding: 5px;
        position: relative;
        z-index: 1;
        text-shadow: 0 1px 2px rgba(255, 255, 255, 0.7);
    }

    .bar-count {
        position: absolute;
        right: 5px;
    }

    .bar-percentage {
        font-weight: 300;
    }

    // This class is used when the bar is selected, but has been filtered
    // of by the text matching.
    &.filtered {
        opacity: 0.4;
    }

    &.selected {
        .bar {
            background-color: #4b8cf7;
            @include linear-gradient(#4d90fe, #4787ed);
            box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
        }

        .bar-mask {
            text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3);
            font-weight: bold;
        }

        &.excluded {
            .bar {
                background-color: #ed4747;
                @include linear-gradient(#fc4c4c, #ed4747);
            }
        }
    }
}
