.toolbar-region {
    .navbar-toolbar {
        margin-bottom: 0;
    }

    .btn-toolbar {
        overflow: hidden;

        .invert-button {
            float: right;
        }

        .filter-container {
            overflow: hidden;
            display: block;

            .filter-text {
                width: 90%;
            }
        }
    }

    .sort-region {
        border-bottom: 1px solid #ddd;
        padding: 5px;
        margin-bottom: 5px;

        .sort-value-header, .sort-count-header {
            cursor: pointer;
            font-size: 13px;
            font-weight: bold;
        }

        .sort-count-header {
            position: absolute;
            right: 0px;
        }
    }
}

