#cilantro-notifications {
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 2000;
    max-width: 400px;
    min-width: 200px;
    width: 20%;

    .alert {
        margin-bottom: 0;
    }
}
