.query-list {
    .header {
        .title {
            display: inline;
        }
        div {
            display: inline;
            float: right;
        }
    }
    .items {
        div {
            border-bottom: 1px solid rgba(0.0, 0.0, 0.0, 0.1);
            padding: 5px 0;

            span {
                min-height: 0;
            }
        }
        .public-icon-container {
            border: 0;
            display: inline;
            width: 12px;
        }
        .name-label {
            float: left;
        }
        .owner, .non-owner {
            float: right;
        }
        .edit-query, .delete-query {
            width: 60px;
        }
    }
}

.toolbar {
    margin-bottom: 0;
}
