.query-list {
    .items {
        div {
            margin-left: 5px;
            margin-right: 5px;
            border-bottom: 1px solid rgba(0.0, 0.0, 0.0, 0.1);

            span {
                padding-top: 7px;
            }
        }
    }
}

.toolbar {
    margin-bottom: 0;
}
