.btn-select {
    margin-bottom: 10px;
    margin-right: 5px;

    .dropdown-toggle {
        line-height: 23px;
    }
}

.range-help-button {
    margin-bottom: 10px;
    cursor: pointer;
}

.range-lower, .range-upper {
    width: 150px;
}
