<div class=row-fluid>
    <div class='span12 hide serrano-version-warning'>
        <div class='alert'>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Warning:</strong> You are connecting to an outdated version of Serrano. Some functionality may be broken or missing due to compatibility issues.
        </div>
    </div>
    <div class="concept-panel-region span3"></div>
    <div class="concept-workspace-region span6"></div>
    <div class="context-panel-region span3"></div>
</div>
