@import "coriander/mixins/all";

// layout
#left-pane {
    width: 745px;
    position: relative;
    top: 0;
    left: 0;
    background-color: #eee;

    > .content {
        border: {
            left: 1px solid #999;
            right: 1px solid #999;
        }
    }
}

#center-pane {
    min-height: 300px;
    position: relative;
    overflow: auto;
}

#right-pane {
    position: absolute;
    vertical-align: top;
    top: 0;
    right: 0;
    width: 200px;
}

#tabs {
    border-bottom: 1px solid #999;
    height: 37px;

    > * {
        vertical-align: bottom;
    }

    form {
        padding: 7px 0 5px 0;
        float: right;
    }

    input {
        @include search-box;
        width: 120px;   
    }
} 

#domains {
    @include inline-block;
    @include opacity(0);

    font-size: 13px;
    font-weight: 600;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    border-top: 1px solid #aaa;

    // the tabs themselves
    > span {
        @include box-shadow(
            inset 0 -1px 4px lighten(#e6e6e6, 20),
            inset 0 1px 4px darken(#e6e6e6, 20)
        );
        @include text-shadow(inset, #444);

        background-color: #e6e6e6;
        height: 26px;
        padding: 5px 12px;
        border-bottom: 1px solid #999;
        border-left: 1px dotted #777;
        display: inline-block;
        cursor: pointer;
        background-color: #ddd;
        margin-bottom: -1px;

        &:hover {
            color: #333;
            cursor: pointer;        
        }

        > span {
            vertical-align: middle;
            position: relative;
            top: 2px;
        }
    }
    
    > .active {
        @include box-shadow(0 -5px 10px #eee inset);

        color: #005cab;
        border-color: #999;
        border-bottom: 1px solid #eee;
        background: #fff;

        text-shadow: none;
        cursor: default;
        position: relative;
        
        &:hover {
            color: #005cab;
            cursor: default;        
        }
    }

    > :first-child {
        border-left: none;            
    }
}

#subdomains {
    $bgcolor: hsl(0, 0%, 80%);

    @include box-shadow(inset 0 2px 3px darken($bgcolor, 20));

    display: none;
    height: 14px;
    padding: 5px;
    font-size: 0.9em;
    font-weight: 600;
    border: 1px solid darken($bgcolor, 20);
    border-top: none;
    background-color: $bgcolor;

    // when visible, this will cover up the single pixel bottom
    // border of the active domain, thus making it appear flush with
    // the rest of the domain tabs
    position: relative;
    top: -1px;

    > span {
        @include border-radius(10px);
        cursor: pointer;
        padding: 2px 5px;
        margin-right: 10px;

        &.active {
            color: #fff;
            text-shadow: 0 1px 2px darken($bgcolor, 60);
            background-color: darken($bgcolor, 30);
        }
    }
}

/*
 * List of criteria
 */
#criteria-wrap {
    padding: 2px;
    width: 170px;
    margin-top: 5px;
}

#criteria {
    @include vertical-thin-scrollbar;

    font-size: 0.9em;
    max-height: 500px;
    overflow: auto;

    > h2 {
        padding: 2px 5px;
        background-color: #ddd;
        margin: 5px 0 0;
        font-size: 1.4em;
    }

    > div {
        @include border-radius(3px);
        @include box-shadow(0 1px 1px #fdfdfd);

        padding: 7px;
        border-top: 1px solid transparent;
        border-bottom: 1px solid #ddd;
        cursor: pointer;
        font-weight: 500;
        
        &.active {
            @include box-raised(#002e54);
            color: #fff;
            text-shadow: 0px 1px 2px darken(#002e54, 20);

            &:hover {
                color: #fff;
            }
        }        
        
        &:hover {
            color: #000;
        }
    }
    
    // contents gets extracted and put into #description
    .description {
        display: none;
    }
}

/* Other standalone elements */
#concept-description {
    .inner {
        width: 300px;
        padding: 3px;
    }

    .content { 
        padding: 5px 14px;
        max-height: 300px;
        overflow: auto;

        > p {
            margin: 5px 0;
        }
    }
}

#concept-search-results {
    .inner {
        width: 200px;
        padding: 3px;
    }

    .content {
        overflow: auto;
        max-height: 400px;
        padding: 0;
 
        > div {
            padding: 5px 14px;

            &:hover {
                color: #000;
                background-color: #dfdfdf;
                cursor: pointer;
            }
        }
    }
}

#no-conditions {
    border: none;
    background-color: transparent;
}

#plugin-panel {
    margin-top: 5px;
    float: right;
    width: 520px;
    display: none;
    
    .content {
        @include box-shadow(none);
        padding: 0;
    }
}

#plugin-dynamic-content {
    .invalid {
        border-color: red;
    }
}

#plugin-static-content {
    margin-top: 10px;
}

.chart {
    width: 500px;
}

#add_to_query {
    float: right;
}

/* Form elements below charts */
.view {
    font-size: 0.85em;
    background-color: #fff;

    input {
        width: 40px;
    }

    h2 {
        text-align: center;
        font-size: 1.5em;
        color: #22465B;
        margin-bottom: 10px;
    }    

    p {
        margin: 0;
        padding: 5px 0;
        border-bottom: 1px dotted #999;
        vertical-align: middle;

        > span {
            display: inline-block;
            margin-left: 20px;
            vertical-align: middle;
            
            &:first-child {
                width: 90px;
                margin-left: 0;
            }
        }        
    }
}

/*
 * User-defined criteria
 */

#condition-list-pane {
    $yellow: #FFFBB3;

    > .content {
        @include linear-gradient(#f3f3f3, #eee);
        background-color: #f3f3f3;
    }

    .condition {
        @include border-radius(3px);
        @include box-shadow(0 1px 1px #fdfdfd);

        padding: 7px;
        cursor: pointer;
        font-size: 0.9em;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        background-color: #f9f9f9;
        
        &.selected {
            @include box-shadow(0 1px 2px darken($yellow, 60));
            @include linear-gradient($yellow, darken($yellow, 5));
            border-color: darken($yellow, 50);
            color: #000;
            background-color: $yellow;
        }        
        
        &:hover {
            color: #000;
        }

        a {
            color: #603200;
            text-decoration: none;    
        }
        
        > .remove {
            background: transparent url(../img/x.png) no-repeat;
            height: 32px;
            width: 32px;
            float: right;
            margin-right: -22px;
            margin-top: -20px;
        }    
    }
}

// IE fixes

.ie7 { }
