@import "partials/colors";
@import "partials/mixins";
@import "partials/shadows";
@import "partials/boilerplate";
@import "partials/container";
@import "partials/jqueryui";
@import "partials/sortable";
@import "partials/icons";

/**
 * START reset overrides...
 */

::-moz-selection { background: inherit; color: inherit; }
::selection { background: inherit; color: inherit; }

/* j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: inherit; }

input[type="checkbox"] {
    vertical-align: middle;
}

/**
 * END reset overrides...
 */
 
 

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: url(../img/linen_tile.png);
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

h4, p {
    margin-bottom: 5px;
}

b, strong {
    font-weight: bolder;
}

i, em {
    font-style: italic;
}

section {
    @include inset(#fff);
    @include radius(3px);
    
    border-color: #aaa;
    padding: 10px;
}

input, textarea {
    @include inset(#f6f6f6);
    @include radius(2px);
    
    outline: none;
    padding: 2px;
    width: 150px;
    border: 1px solid #aaa;

    background-color: #fff;

    &:disabled {
        background-color: #f6f6f6;
    }
}

textarea {
    width: auto;
    display: block; // webkit.. http://stackoverflow.com/questions/4457398/why-do-webkit-browsers-render-the-following-with-extra-padding-margin-on-the-bott
}

input[type=submit], input[type=button],
input[type=radio], input[type=checkbox] {
    width: auto;
}

// the first cell in each row (assuming it is a th) needs some padding
// so it does not bump up against the next cell
table tbody tr > th:first-child {
    text-align: right;    
    padding-right: 10px;
}

header {
    @include anchors(#666, #333);
    @include dual-shadow(
        0 1px 3px darken($DEFAULT_COLOR, 20),
        inset 0 1px 3px #aaa
    );

    color: #666;
    font-size: 0.85em;

    position: top;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;

    min-height: 25px;
    padding: 5px 10px;

    background-color: #fcfcfc;
    border-bottom: 1px solid #fff;

    > * {
        vertical-align: middle;        
    }
    
    > span {
        float: right;
        margin-top: 7px;      
    }
}

nav {
    @include anchors(#666, #333);
    
    ul {
        @include letter-press(#666);
        
        padding: 0;
        margin-bottom: 10px;
        list-style: none;
        font-size: 12px;
        
        li {
            display: inline;
            margin-right: 12px;
            padding-left: 7px;
            background: transparent url(../img/bc.gif) no-repeat 0 5px;
        }
    }
}

#content {
    position: relative;
    top: 30px;
    left: 50%;
    margin-left: -480px;
    width: 960px;
}

footer {
    position: relative;
    top: 70px;
    left: 0;
    right: 0;

    color: darken($DEFAULT_COLOR, 50);
    text-shadow: 0 1px 2px lighten($DEFAULT_COLOR, 100);
    font-size: 0.9em;
    text-align: center;
}

#harvest-logo {
    margin: 0 auto;
    background: transparent url(../img/harvest_tractor.png) no-repeat;
    height: 33px;
    width: 114px;
}


table {
    width: auto;
    margin-bottom: 0;

    td, th {
        vertical-align: top;
        padding-top: 7px;
        padding-bottom: 7px;
    }
}

label {
    padding: 2px 0;
}

input[type=button], input[type=submit], button {
    @include radius(3px);
    @include raised(#ddd);
    @include letter-press(#222);

    cursor: pointer;
    position: relative;

    padding: 2px 5px;
    font-weight: 600;
    font-size: 0.9em;

    border: 1px solid #666;

    > span {
        vertical-align: middle;
    }

    &:hover {
        border-color: #222;
    }

    &:active {
        top: 1px;
    }

    &:disabled {    
        @include shadow(none);
        @include letter-press(#999);

        border-color: #aaa;
        cursor: auto;

        &:hover {
            border-color: #aaa;        
        }

        &:active {
            @include letter-press(#999);

            top: 0;
            border-color: #aaa;
        }     
    }
}

/**
 * Some common helper classes..
 */

.block {
    @include opacify(70);
    background: #fff url(../img/loader.gif) no-repeat center;
}

.messages {
    .success { @include message(#002E24, success); }
    .warning { @include message(#653400, warning); }
    .error { @include message(#500700, error); }
    .information { @include message(#000F3C, info); }
}

.message {
    &.success { @include message(#002E24, success); }
    &.warning { @include message(#653400, warning); }
    &.error { @include message(#500700, error); }
    &.information { @include message(#000F3C, info); }
}

.info {
    font-size: 0.85em;
    font-style: italic;
    color: #666;
}

.ie7 {
    header {
        border-bottom: 1px solid darken($DEFAULT_COLOR, 10);
    }
}
