@import "partials/colors";
@import "partials/mixins";
@import "partials/shadows";

#search {
    @include search-box;
    width: 360px;
    margin: 5px 0;
}

.container {
    > .info {
        border-bottom: none;
        
        > * {
            @include inline-block;
            vertical-align: top;
        }
    }
    
    .toolbar {
        display: none;
        text-align: right;
        
        > * {
            vertical-align: middle;
        }
    }

    // contains the main data table, it provides a scrollable interface to
    // ensure the user does not have to scroll horizontally
    // TODO add a default height and when the table surpasses grows vertically
    // increase the height up to the windows edge.
    .content {
        @include horizontal-thin-scrollbar; 
        overflow: auto;
        background-color: #fff;        
    }
}

#table {
    display: none;

    td {
        -moz-user-select: auto;
        -webkit-user-select: auto;
        user-select: auto;
    }
}

#stats {
    width: 150px;
    padding: 0;
    margin-left: 0;
    list-style: none;
    margin-right: 10px;
}

#details {
    width: 440px;
    padding: 0;
    margin-left: 0;
    list-style: none;
    margin-right: 10px;
}

#actions {
    float: right;
    width: 250px;
    text-align: right;

    button {
        margin-left: 5px;

        &:first-child {
            margin-left: 0;
        }
    }
}

.page-links {
    
    > * {
        margin-right: 10px;
    }

    .pages {
        @include inline-block;
    }

    .inactive {
        color: #999;
    }

}

.per-page {
    font-size: 0.8em;
}

#columns-dialog {
    display: none; /* for jquery ui dialog */

     // contents gets extracted and put into #description
    .description {
        display: none;
    }
   
    .content > div {
        @include inline-block;

        margin: 0;
        vertical-align: top;
        width: 433px;
//        height: 500px;

        &:first-child {
            margin-right: 10px;
        }
    }

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    li {
        @include shadow(0 1px 1px #fdfdfd);

        display: none;
        padding: 7px;
        border-bottom: 1px solid #ddd;
        font-weight: 500;
                
        &:hover {
            color: #000;
            background-color: #fff;
        }

        &.active {
            display: block;

            &.filtered {
                display: none;
            }            
        }        
    }    
}

#columns, #active-columns {
    @include vertical-thin-scrollbar;
    overflow: auto;
    height: 405px;
    margin: 0;

    > div {
        margin-top: 20px;

        &:first-child {
            margin-top: 0;
        }

        h4 {
            margin-bottom: 10px;
        }
    }       

    .add-column, .remove-column {
        float: right;
        margin-top: 3px;
        font-size: 11px;
        color: #999;
        text-align: right;
        text-decoration: none;

        > .icon {
            position: relative;
            bottom: 2px;
        }
    }

    .add-column {
        &:hover, &:active {
            color: #000;
        }
    }

    .remove-column {
        &:hover, &:active {
            color: maroon;
        }
    }
}

#columns {
}

#active-columns {
}

#active-columns li.placeholder {
    @include radius(0);
    display: block;
    background-color: #fff;
    border: 1px dashed #ccc;
}

#description {
    @include raised-drop-shadow;
    @include radius(5px);
    @include vertical-thin-scrollbar;
    
    padding: 5px 10px;
    z-index: 2000;
    position: absolute;
    display: none;
    background-color: #fff;
    border: 1px solid #666;
    width: 300px;
    max-height: 400px;
    overflow: auto;
    white-space: pre-line;
}

/*
 * Begin IE fixes...
 */

.ie7 {
    .container > .content {
        border-bottom: none;
    }
}
