.accordian {
    .group {
        margin-bottom: 10px;

        > .heading {
            font-size: 1.2em;
            font-weight: 600;
            position: relative;

            > i {
                position: absolute;
                top: 5px;
                right: 5px;
            }

        }
    }

    .section {
        > .heading {
            color: #575757;
            text-transform: uppercase;
            font-size: 0.85em;
            font-weight: 600;
            margin-top: 5px;
        }
    }

    .section .items {
        margin-top: 5px;
        // Flush against the right side
        padding-right: 0;
    }

    // Bootstrap assumes the icon will be on the left side before the text.
    // However, this gets applied to the button as well.
    .nav-list button {
        [class^=icon-], [class*=icon-] {
            margin-right: 0;
        }
    }
}
