// Use the breadcrumb style, but name it toolbar for clarity of intention
.toolbar {
    @include clearfix;
    background-color: #f3f3f3;
    border-radius: 2px;
    padding: 5px 7px;
    margin-bottom: 10px;
}

.navbar-toolbar .navbar-inner {
    @include linear-gradient(#fafafa, #f9f9f9);

    padding-right: 3px;
    padding-left: 3px;

    .btn-toolbar > .pull-right {
        margin-left: 5px;
    }

    min-height: 0;
}
