@import "coriander/mixins/all";

// layout
#left-pane {
    width: 745px;
    position: relative;
    top: 0;
    left: 0;
    background-color: #eee;

    > .content {
        border: {
            left: 1px solid #999;
            right: 1px solid #999;
        }
    }
}

#center-pane {
    min-height: 300px;
    position: relative;
    overflow: auto;
}

#right-pane {
    position: absolute;
    vertical-align: top;
    top: 0;
    right: 0;
    width: 200px;
}

#tabs {
    // this will fade-in by the javascript
    display: none;
    height: 37px;
    border-bottom: 1px solid #999;

    > * {
        vertical-align: bottom;
    }
}

#domains {
    @include inline-block;

    font-size: 13px;
    font-weight: 600;

    // the tabs themselves
    > span {
        @include text-shadow(inset, #444);
        @include border-radius(3px 3px 0 0);

        height: 26px;
        padding: 5px 7px;
        margin-right: 3px;
        border: 1px solid transparent;
        border-bottom-color: #999;
        display: inline-block;
        cursor: pointer;
        margin-bottom: -1px;

        &:hover {
            color: #333;
            background-color: #ddd;
            cursor: pointer;
        }

        > span {
            vertical-align: middle;
            position: relative;
            top: 2px;
        }
    }

    > .active {
        @include box-shadow(inset 0 -5px 10px #eee, 0 -1px 0 #fff);

        color: #005cab;
        border-color: #aaa;
        border-bottom-color: #eee;
        background: #fff;

        text-shadow: none;
        cursor: default;
        position: relative;

        &:hover {
            color: #005cab;
            cursor: default;
            background-color: #fff;
        }
    }
}

#subdomains {
    display: none;
    padding: 10px 0 6px 0;
    font-size: 0.9em;
    font-weight: 600;

    // when visible, this will cover up the single pixel bottom
    // border of the active domain, thus making it appear flush with
    // the rest of the domain tabs
    // position: relative;
    // top: -1px;

    > span {
        @include border-radius(10px);
        cursor: pointer;
        padding: 2px 7px;
        margin-right: 3px;
        border: 1px solid transparent;

        &:hover {
            background-color: #ddd;;
        }

        &.active {
            @include box-shadow(0 1px 0 #fff, inset 0 1px 1px #ddd);
            cursor: default;
            color: #005cab;
            border-color: #aaa;
            background-color: #f9f9f9;
        }
    }
}

/*
 * List of criteria
 */
#criteria-wrap {
    padding: 2px;
    width: 170px;
    margin-top: 5px;
    display: none;
}

#criteria {
    @include vertical-thin-scrollbar;

    font-size: 0.9em;
    max-height: 500px;
    overflow: auto;

    > h2 {
        padding: 2px 5px;
        background-color: #ddd;
        margin: 5px 0 0;
        font-size: 1.4em;
    }

    > div {
        @include border-radius(3px);
        @include box-shadow(0 1px 1px #fdfdfd);

        padding: 7px;
        border-top: 1px solid transparent;
        border-bottom: 1px solid #ddd;
        cursor: pointer;
        font-weight: 500;

        &.active {
            @include box-raised(#002e54);
            color: #fff;
            text-shadow: 0px 1px 2px darken(#002e54, 20);

            &:hover {
                color: #fff;
            }
        }

        &:hover {
            color: #000;
        }
    }

    // contents gets extracted and put into #description
    .description {
        display: none;
    }
}

/* Other standalone elements */
#concept-description {
    .inner {
        width: 300px;
        padding: 3px;
    }

    .content {
        padding: 5px 14px;
        max-height: 300px;
        overflow: auto;

        > p {
            margin: 5px 0;
        }
    }
}

#concept-search {
    @include search-box;
    float: right;
    width: 120px;
    margin-top: 5px;
}

#concept-search-results {
    .inner {
        width: 200px;
        padding: 3px;
    }

    .content {
        overflow: auto;
        max-height: 400px;
        padding: 0;

        > div {
            padding: 5px 14px;

            &:hover {
                color: #000;
                background-color: #dfdfdf;
                cursor: pointer;
            }
        }
    }
}

#no-conditions {
    border: none;
    background-color: transparent;
}

#plugin-panel {
    margin-top: 5px;
    float: right;
    width: 520px;
    display: none;

    .content {
        @include box-shadow(none);
        padding: 0;
    }
}

#plugin-dynamic-content {
    .invalid {
        border-color: red;
    }
}

#plugin-static-content {
    margin-top: 10px;
}

.chart {
    width: 500px;
}

#add_to_query {
    float: right;
}

#get-report {
    display: none;
}

/* Form elements below charts */
.view {
    font-size: 0.85em;
    background-color: #fff;

    input {
        width: 40px;
    }

    h2 {
        text-align: center;
        font-size: 1.5em;
        color: #22465B;
        margin-bottom: 10px;
    }

    p {
        margin: 0;
        padding: 5px 0;
        border-bottom: 1px dotted #999;
        vertical-align: middle;

        > span {
            display: inline-block;
            margin-left: 20px;
            vertical-align: middle;

            &:first-child {
                width: 90px;
                margin-left: 0;
            }
        }
    }
}

/*
 * User-defined criteria
 */

#condition-list-pane {
    $yellow: #FFFBB3;

    > .content {
        @include linear-gradient(#f3f3f3, #eee);
        background-color: #f3f3f3;
    }

    .condition {
        @include border-radius(3px);
        @include box-shadow(0 1px 1px #fdfdfd);

        padding: 7px;
        cursor: pointer;
        font-size: 0.9em;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        background-color: #f9f9f9;

        &.selected {
            @include box-shadow(0 1px 2px darken($yellow, 60));
            @include linear-gradient($yellow, darken($yellow, 5));
            border-color: darken($yellow, 50);
            color: #000;
            background-color: $yellow;
        }

        &:hover {
            color: #000;
        }

        a {
            color: #603200;
            text-decoration: none;
        }

        > .remove {
            background: transparent url(../../images/x.png) no-repeat;
            height: 32px;
            width: 32px;
            float: right;
            margin-right: -22px;
            margin-top: -20px;
        }
    }
}

// IE fixes

.ie7 { }
