@import "lib/bourbon/bourbon";
@import "lib/bootstrap";

@import "base/modal";
@import "base/hero-unit";
@import "base/well";

@import "layouts/nav";
@import "layouts/subnav";
@import "layouts/dropdown";
@import "layouts/scrollable-column";
@import "layouts/main-area";
@import "layouts/analysis-area";

@import "plugins/panels";

@import "state/sync";
@import "state/loading";

@import "modules/icons";
@import "modules/container";
@import "modules/charts";
@import "modules/accordian";
@import "modules/conditions";
@import "modules/grouped-tables";
@import "modules/data-conditions";
@import "modules/queryviews";
@import "modules/data-filters";
@import "modules/columns";
@import "modules/table";
@import "modules/typeahead";

@import "routes/workspace";
@import "routes/discover";
@import "routes/analysis";
@import "routes/review";

* {
    @include transition(opacity, 0.4s, ease-in-out);
}

body {
    background: #f9f9f9 url(../../images/fabric_plaid.png);
    // Padding for navigation bars
    padding-top: 100px;
}

h1 {
    margin: 10px 0 20px 0;
}

.staff-only > * {
    text-shadow: 0 1px 2px rgba(255, 255, 255, 0.6);
    background-color: yellow !important;
    color: #999 !important;
}

.btn-mini i {
    margin-top: 0;
}

