@mixin raised {
    @include box-shadow(1px 1px 3px #ccc);
    @include border-radius(3px);
    background-color: #fff;
    border: 1px solid #bbb;
}

.raised {
    @include raised;
}


#main-area {
    position: fixed;
    top: 80px;
    bottom: 0;
    right: 10px;
    left: 10px;

    .inner {
        height: 100%;
        padding: 10px;

        .row-fluid {
            margin-bottom: 20px;
        }
    }

    // For a simple layout
    &.centered {
        margin: 0 auto;
        position: static;
        max-width: 960px;

        .inner {
            @include raised;
            padding: 10px;
            margin-top: 10px;

            :last-child {
                margin-bottom: 0;
            }
        }
    }
}
