$subnav-bgcolor: #d3e3f2;

#subnav {
    top: 40px;
    font-size: 13px;
    z-index: 1020;

    .breadcrumb {
        @include border-radius(none);
        @include box-shadow(none);
        padding: 11px 0 9px 0;
        background: none;
        border: 0;
        color: #666;

        .divider {
            color: darken($subnav-bgcolor, 20);
        }
    }


    .navbar-inner {
        @include box-shadow(inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.2));
        @include linear-gradient($subnav-bgcolor, darken($subnav-bgcolor, 5));
        border-bottom: 1px solid darken($subnav-bgcolor, 20);
        min-height: 37px;
        height: 37px;
    }

    .nav {
        @include border-radius(0);
        margin: 0 auto;
        margin-bottom: 0;

        > li {
            .caret {
                border-top-color: darken($subnav-bgcolor, 50);
            }

            > a {
                color: darken($subnav-bgcolor, 50);
                padding: 10px 10px 8px 10px;
                text-shadow: 0 1px 1px rgba(255, 255, 255, 0.2);

                &:hover {
                    background-color: lighten($subnav-bgcolor, 5);
                }
            }

            &:first-child > a, &:first-child > a:hover {
                border-left-color: darken($subnav-bgcolor, 10);
            }

        }

        > .open, > .active {
            .caret {
                border-top-color: darken($subnav-bgcolor, 50);
            }

            a, > a:hover {
                font-weight: 400;
            }

            &:first-child > a, &:first-child > a:hover {
                border-left-color: darken($subnav-bgcolor, 20);
            }

        }
    }

    .btn {
        @include linear-gradient(lighten($subnav-bgcolor, 10), $subnav-bgcolor);
        border: 1px solid darken($subnav-bgcolor, 15);
        color: darken($subnav-bgcolor, 50);
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);

        &:hover {
            background-color: $subnav-bgcolor;
        }
    }


    .stat {
        padding: 10px 10px 11px;
        line-height:19px;
        font-size: 16px;
        display: block;
        color: darken($subnav-bgcolor, 50);
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
    }

}



// Landscape phones and down
@media (max-width: 480px) {

}

// Landscape phone to portrait tablet
@media (max-width: 767px) {

}

// Portrait tablet to landscape and desktop
@media (min-width: 768px) and (max-width: 979px) {
}

// Large desktop
@media (min-width: 1200px) {

}
