<div class=toolbar>
    <input type=text name=filter class="search-query" placeholder="Filter...">
    <button class="btn btn-small" name=invert title="Invert Selection"><i class="icon-exchange icon-rotate-90"></i> Selection</button>
    <select class=input-medium name=sort>
        <option value="-count">Count (desc)</option>
        <option value="count">Count (asc)</option>
        <option value="-alpha">Label (desc)</option>
        <option value="alpha">Label (asc)</option>
    </select>
</div>
<div class=bars></div>
