.container {
    @include shadow(0 1px 5px #777);	
    @include radius($BORDER_RADIUS $BORDER_RADIUS 0 0);
    
	background-color: #fff;

    // container title bar
    > .title {
        @include radius($BORDER_RADIUS $BORDER_RADIUS 0 0);
        @include raised(#444, 2px);

        color: #fff;
        border-top: 1px solid #333;
        border-bottom: 1px solid #fff;
        padding: 5px 10px;
        text-shadow: $DARK_TEXT_SHADOW;
        font-weight: 500;    

        // container title bar buttons
        button {
            @include radius(3px);
            @include shadow(0 0 1px #fff);
            @include linear-gradient(#444, #222);
            
            color: #ddd;
            float: right;
            margin-top: -1px;
            text-shadow: none;
            border-color: #000;
            font-size: 0.8em;
            padding: 2px 3px;
            
            &:hover {
                color: #fff;
            }
            
            &:active {
                @include linear-gradient(#222, #444);
                background-color: #444;
            }
        }
    }
    
    > .toolbar {
        @include raised($DEFAULT_COLOR);

        border-top: 1px solid darken($DEFAULT_COLOR, 10);
        border-bottom: 1px solid darken($DEFAULT_COLOR, 20);

        font-size: 0.9em;
        padding: 3px 10px;
        text-shadow: $LIGHT_TEXT_SHADOW;

        > * {
            vertical-align: middle;
            
            &:first-child {
                margin-left: 0;
            }
        }
        
        &.header {
        //    border-bottom: 1px solid darken($DEFAULT_COLOR, 20);
        }
        
        &.footer {
            border-bottom-color: darken($DEFAULT_COLOR, 30);
        }
    }
    
    > .info {
        @include shadow(0 2px 4px #eee inset);
        @include linear-gradient(#f3f3f3, #eee);
        
        font-size: 0.85em;
        padding: 10px;
        background-color: #fff;
    }

    // container content area, keep it simple...
    > .content {
        @include shadow(0 -1px 3px #ddd inset);

        background-color: #fff;
        padding: 10px;
    }

    .tabs {
        padding: 7px 0 7px 10px;
        display: block;
        background-color: #fff;
        border-bottom: 1px solid #ccc;

        > .tab {
            @include radius(15px);
            background-color: #fff;
            padding: 1px 10px;
            margin-right: 5px;
            border: 1px solid #fff;
            color: #444;
            text-shadow: $LIGHT_TEXT_SHADOW;
            text-decoration: none;
            font-weight: 500;

            &:hover {
                cursor: pointer;
                background-color: #ddd;
                border-color: #ddd;
            }

            &.active {
                @include shadow(0 2px 5px #555 inset);
                text-shadow: $DARK_TEXT_SHADOW;
                background-color: #777;
                color: #fff;
                border-color: #444;
                cursor: auto;
                text-decoration: none;
                cursor: default;
            }

            &.disabled {
                cursor: default;
                color: #999;
                border-color: #fff;
                background-color: inherit;
            }
        }
    }

    // for good measure...
    .container {
        @include shadow(none);
        @include radius(0);
    }
}
