// defined as a mixin for other elements to extend from e.g. jQuery UI dialog
@mixin container-title {
    @include radius($BORDER_RADIUS $BORDER_RADIUS 0 0);
    @include raised(#444, 2px);
    @include letterpop(#eee);

    border-top: 1px solid #333;
    border-bottom: 1px solid #fff;
    padding: 5px 10px;
    font-weight: 500;    
    font-size: 1.1em; 
}

.container {
    @include shadow(0 1px 5px #777);	
    @include radius($BORDER_RADIUS $BORDER_RADIUS 0 0);
    
	background-color: #fff;

    // container title bar
    > .title {
        @include container-title;

        // container title bar buttons
        button {
            @include radius(3px);
            @include shadow(0 0 1px #fff);
            @include vertical-gradient(#444, #222);
            
            color: #ddd;
            float: right;
            margin-top: -1px;
            text-shadow: none;
            border-color: #000;
            font-size: 0.8em;
            padding: 2px 3px;
            
            &:hover {
                color: #fff;
            }
            
            &:active {
                @include vertical-gradient(#222, #444);
                background-color: #444;
            }
        }
    }
    
    > .toolbar {
        @include raised($DEFAULT_COLOR);
        @include letterpress(#333, 1px);

        border-top: 1px solid darken($DEFAULT_COLOR, 10);
        border-bottom: 1px solid darken($DEFAULT_COLOR, 20);

        font-size: 0.9em;
        padding: 3px 10px;

        > * {
            vertical-align: middle;
            
            &:first-child {
                margin-left: 0;
            }
        }
       
        // this is here only to account for the drop shadow of the container
        // itself. to ensure the bottom border stands out, the color is
        // darkened
        &.footer {
            border-bottom-color: darken($DEFAULT_COLOR, 30);
        }
    }
    
    > .info {
        @include shadow(0 2px 4px #ddd inset);
        
        padding: 10px;
        background-color: #fff;
        border-bottom: 1px solid #ccc;
    }

    // container content area, keep it simple...
    > .content {
        @include shadow(0 -1px 3px #ddd inset);

        background-color: #fff;
        padding: 10px;
    }

    .tabs {
        padding: 7px 0 7px 10px;
        display: block;
        background-color: #fff;
        border-bottom: 1px solid #ccc;

        > .tab {
            @include radius(10px);
            background-color: #fff;
            padding: 1px 10px;
            margin-right: 5px;
            border: 1px solid #fff;
            color: #444;
            text-shadow: $LIGHT_TEXT_SHADOW;
            text-decoration: none;
            font-weight: 500;

            &:hover {
                cursor: pointer;
                color: #000;
            }

            &.active {
                @include inset(darken($DEFAULT_COLOR, 40));
                text-shadow: $DARK_TEXT_SHADOW;
                color: #fff;
                border-color: darken($DEFAULT_COLOR, 60);
                cursor: auto;
                text-decoration: none;
                cursor: default;
            }

            &.disabled {
                cursor: default;
                color: darken($DEFAULT_COLOR, 20);
                border-color: transparent;
                background-color: transparent;
            }
        }
    }

    // for good measure...
    .container {
        @include shadow(none);
        @include radius(0);
    }
}
