@mixin container-title-gradient {
    background: #444;
    background: -moz-linear-gradient(-90deg, #555, #666 50%, #333 55%, #444);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#555),
        color-stop(50%, #666),
        color-stop(55%, #333),
        to(#444));
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr="#555555", endColorstr="#333333");      
}

@mixin container-title {
    @include container-title-gradient;
    @include border-radius($BORDER_RADIUS, $BORDER_RADIUS, 0, 0);

    color: #eee;
    padding: 5px 10px;
    text-shadow: $DARK_TEXT_SHADOW;
    font-weight: 500;    
}

.container {
    @include box-shadow(0, 4px, 4px, 0, #999);	
    @include border-radius($BORDER_RADIUS, $BORDER_RADIUS, 0, 0);
    
	margin-bottom: 20px;
	background-color: #fff;

    // container title bar
    > .title {
        @include container-title;

        // container title bar buttons
        button {
            @include container-title-gradient;            
            @include border-radius(3px, 3px, 3px, 3px);
            @include box-shadow(0, 0, 1px, 0, #fff);
            
            color: #ddd;
            float: right;
            text-shadow: none;
            border-color: #000;
            font-size: 0.8em;
            padding: 2px 3px;
            
            &:hover {
                @include box-shadow(0, 0, 2px, 0, #fff);
                color: #fff;
            }
            
            &:active {
                background-color: #444;
                background-image: -moz-linear-gradient(-90deg, #444, #333 50%, #666 55%, #555);
                background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#444),
                    color-stop(50%, #333),
                    color-stop(55%, #666),
                    to(#555));                   
            }
        }
    }
    
    > .toolbar {
        font-size: 0.9em;
        background-color: #D8E2F7; 
        padding: 3px 10px;
        text-shadow: $LIGHT_TEXT_SHADOW;
        
        > * {
            vertical-align: middle;
            
            &:first-child {
                margin-left: 0;
            }
        }
        
        &.header {
            border-bottom: 1px dotted #B5C7DF;
        }
        
        &.footer {
            border-top: 1px dotted #B5C7DF;
        }
    }
    
    > .info {
        @include inset-box-shadow(0, -5px, 10px, 0, #eee);
        
        font-size: 0.85em;
        padding: 10px;
        border-top: 1px dotted #fff;
        border-bottom: 1px dotted #999;
        background-color: #fff;
    }

    // container content area, keep it simple...
    > .content {
        background-color: #fff;
        padding: 10px;
    }

    .tabs {
        padding: 7px 0 7px 10px;
        display: block;
        background-color: #fff;
        border-bottom: 1px solid #ccc;

        > .tab {
            @include border-radius(15px, 15px, 15px, 15px);
            background-color: #fff;
            padding: 1px 10px;
            margin-right: 5px;
            border: 1px solid #fff;
            color: #444;
            text-shadow: $LIGHT_TEXT_SHADOW;
            text-decoration: none;
            font-weight: 500;

            &:hover {
                cursor: pointer;
                background-color: #ddd;
                border-color: #ddd;
            }

            &.active {
                @include inset-box-shadow(0, 2px, 5px, 0, #555);
                text-shadow: $DARK_TEXT_SHADOW;
                background-color: #777;
                color: #fff;
                border-color: #444;
                cursor: auto;
                text-decoration: none;
                cursor: default;
            }

            &.disabled {
                cursor: default;
                color: #999;
                border-color: #fff;
                background-color: inherit;
            }
        }
    }

    // for good measure...
    .container {
        @include no-box-shadow;
        @include border-radius(0, 0, 0, 0);
    }
}
