// jQuery UI components
.ui-dialog {
    @extend .container;
    @include shadow(0 10px 20px #999);
    
    position: absolute;

    .ui-dialog-content {
        padding: 10px;
    }
    
    .ui-dialog-buttonpane {
        padding: 10px;
        text-align: right;

        button {
            @extend button;
            margin-left: 10px;
        }    
    }    

    .ui-dialog-titlebar {
        @include linear-gradient(#444, #222);
        @include dual-shadow(0 -1px 4px #000 inset, 0 1px 4px #aaa inset);

        .ui-dialog-titlebar-close {
            display: none;
        }
    }
}
