@mixin drop-shadow {
    position: relative;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

    &:before, &:after {
        content: '';
        position: absolute;
        z-index: -2;
    }
}

@mixin raised-drop-shadow {
    @include drop-shadow;
    -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5),
                        0 1px 4px rgba(0, 0, 0, 0.3),
                        0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:    0 15px 10px -10px rgba(0, 0, 0, 0.5),
                        0 1px 4px rgba(0, 0, 0, 0.3),
                        0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:         0 15px 10px -10px rgba(0, 0, 0, 0.5), 
                        0 1px 4px rgba(0, 0, 0, 0.3),
                        0 0 40px rgba(0, 0, 0, 0.1) inset;
}

@mixin curves-drop-shadow {
    @include drop-shadow;

    &:before {
        top: 10px;
        bottom: 10px;
        left: 0;
        right: 0;
        -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
        -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
    }
}

@mixin vertical-curves-drop-shadow {
    @include curves-drop-shadow;
    &:before {
        -moz-border-radius: 10px / 100px;
        border-radius: 10px / 100px;
    }
}

@mixin horizontal-curves-drop-shadow {
    @include curves-drop-shadow;

    &:before {
        -moz-border-radius: 100px / 10px;
        border-radius: 100px / 10px;
    }
}
