{% extends "base_nav.html" %}

{% block title %}{{ block.super }} : Define{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ CILANTRO_STATIC_URL }}css/aristo/jquery-ui.css">
    <link rel="stylesheet" href="{{ CILANTRO_STATIC_URL }}css/define.css">
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script>
        var App = {
            urls: {
                session: {
                    scope: '{% url api:scope:session %}',
                    perspective: '{% url api:perspectives:session %}',
                    report: '{% url api:reports:session %}'
                },
                reports: '{% url api:reports:read %}',
                domains: '{% url api:categories:read %}',
                criteria: '{% url api:criteria:read %}'
            }
        };
    </script>
    <script>require(['cilantro/define/main']);</script>
{% endblock %}

{% block navigation %}
    <span class="next"><a href="{% url report %}">View Report</a></span>
    <span class="previous"><a href="{% url workspace %}">Workspace</a></span>
{% endblock %}

{% block content %}

    <div id="left-pane" class="container">
        <div class="title">{% block search_panel_title %}Search Available Conditions{% endblock %}</div>

        <div class="content">
            {% spaceless %}
            <div id="tabs">
                <form method="get" action="{% url api:criteria:read %}">
                    <input id="search" type="text" name="q" autocomplete="off" placeholder="Search...">
                </form>
                <div id="categories" data-uri="{% url api:categories:read %}"></div>
            </div>
 
            <div id="subdomains" class="tabs"></div>
            {% endspaceless %}
        
            <div id="center-pane" class="clearfix">
                {# The "option-detail" panel displays information about a particular query option and the means #}
                {# to interact with it.  #}
                <section id="plugin-panel">

                    {# This toolbar will contain the dynamically generated tabs based on a query option's #}
                    {# initial response from the server. Tabs are context-specific and do not have cross #}
                    {# query option interaction. #}
                    <div id="plugin-tabs" class="toolbar header tabs hidden"></div>

                    <div class="content">                
                        {# Content associated with a particular "view" (one-to-one with a tab). This is considered #}
                        {# dynamic content because it changes within the context of a query option. #}
                        <div id="plugin-dynamic-content"></div>
                
                        {# Content associated with a query option, independent of the tabs and there content. This is #}
                        {# considered static content because it persists during the lifetime of the query option #}
                        {# context. #}
                        <div id="plugin-static-content"></div>
                
                    </div>
                </section>
                
                <section id="criteria-wrap">
                    <div id="criteria" data-uri="{% url api:criteria:read %}">
                        <em id="no-results"></em>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <div id="right-pane" class="clearfix">

        <div id="report-info">
            <h2></h2>
            <p><input name="name"></p>
            <p><em></em></p>
            <textarea name="description"></textarea>
        </div>

        <div id="user-criteria" class="container" data-uri="{% url api:scope:session %}">

            <div class="title">
                <button id="remove-criteria">Clear</button>
                Conditions
            </div>

            <div class="content">
                <div id="criteria-list" data-report="{% url report %}"  data-uri="{% url api:criteria:read %}">
                    <div id="no-conditions" class="message warning">No Conditions Have Been Added Yet!</div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
