<div class=modal-header>
    <h4>Query Properties<h4>
</div>

<div class=modal-body>
    <form class="form-inline">
        <div class='control-group row-fluid' id='query-name-group'>
            <span class=span2>Name:</span>
            <input type=text class=span6 id=query-name />
            <span class='help-inline hide'>Name must not be blank</span>
        </div>
        <div class='control-group row-fluid'>
            <span class=span2>Description:</span>
            <input type=text class=span6 id=query-description />
        </div>
        <div class='control-group row-fluid'>
            <span class=span2>Share with:</span>
            <textarea rows=6 class=span6 id=query-emails placeholder='Enter the email addresses or usernames of the users to share this query with. Separate multiple entries using a comma.' />
        </div>
    </form>
</div>

<div class=modal-footer>
    <button data-dismiss=modal class=btn>Cancel</button>
    <button data-save class="btn btn-primary">Save</button>
</div>
