<div class=modal-header>
    <h4></h4>
</div>

<div class=modal-body>
    <div class='alert alert-error hide'></div>
    <form class='form-inline'>
        <div class='control-group row-fluid'>
            <label class=control-label>Name</label>
            <div class=controls>
                <input type=text class='query-name span12' placeholder='Query name (required)...' />
            </div>
        </div>
        <div class='control-group row-fluid'>
            <label class=control-label>Description</label>
            <div class=controls>
                <input type=text class='query-description span12' placeholder='Additional description or details (optional)...' />
            </div>
        </div>
        <div class='checkbox'>
            <label>
                <input type=checkbox name='query-publicity' class='query-publicity' />Should this query be publicly available to all users?
            </label>
        </div>
        <div class='control-group row-fluid'>
            <label class=control-label>Share</label>
            <div class=controls>
                <textarea rows=3 class='query-emails span12' placeholder='Enter the email addresses or usernames of the users to share this query with. Separate multiple entries using a comma (optional)...'></textarea>
            </div>
        </div>
        <div class='control-group row-fluid hide' data-target=email-message-container>
            <label class=control-label>Email Message</label>
            <div class=controls>
                <textarea rows=3 class='span12' data-target=email-message placeholder='Enter a message to be included in the notification email sent to the above users to alert them that this query has been shared with them (optional)...'></textarea>
            </div>
        </div>
    </form>
</div>

<div class=modal-footer>
    <button data-dismiss=modal class=btn>Cancel</button>
    <button data-save class='btn btn-primary'>Save</button>
</div>
