<span class='name-label span6'>
    <div class='public-icon-container'>
        <i class='public-icon icon-external-link-sign hidden'></i>
    </div>
    <a class='shared-query-name' href="#"><%= data.name %></a>
</span>
<span class='owner span2'>
    <button data-toggle=edit-query-modal class='edit-query btn btn-mini'><i class=icon-edit></i> Edit</button>
</span>
<span class='owner span2'>
    <button data-toggle=delete-query-modal class='delete-query btn btn-mini'><i class=icon-trash></i> Delete</button>
</span>
<span class='owner span2'>
    <i class='icon-group share-count'> (<%= data.shared_users.length %>) </i>
</span>
<span class='non-owner span5'>
    shared with you by <em><%= data.user.username %></em>
</span>
