@mixin sprite-icon ($x, $y) {
    background-image: url(../img/icons/sprite.png);
    background-repeat: no-repeat;
    background-position: $x $y;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    *display: inline;
    zoom: 1;
}

.icon.plus { @include sprite-icon(0, 0) }
.icon.x { @include sprite-icon(-16px, 0) }
.icon.info { @include sprite-icon(-32px, 0) }
.icon.refresh { @include sprite-icon(-64px, 0) }
.icon.arrow-r { @include sprite-icon(-80px, 0) }
