@import "bourbon/bourbon";
@import "partials/buttons";

@mixin user-select($value: text) {
    -webkit-user-select: $value;
    -khtml-user-select: $value;
    -moz-user-select: $value;
    -o-user-select: $value;
    user-select: $value;
}


// adds a letter "press" effect to the text. this effects only works if the
// surrounding color is lighter than the text color
@mixin text-shadow($inset, $color: none, $blur: 2px) {
    $bgcolor: none;
    // shift arguments
    @if $inset == inset {
        $bgcolor: lighten($color, 70);
    } @else {
        $blur: $color;
        $color: $inset;
        $bgcolor: darken($color, 70);
    }

    color: $color;
    text-shadow: 0 1px $blur $bgcolor;
}

// sets the opacity of an element. this is not to be confused with
// the official Sass function that "opacifies" a color
@mixin opacity($p) {
    filter:alpha(opacity=$p);
    -moz-opacity: $p/100;
    opacity: $p/100;
}

// shorcut to set anchor colors for each pseudo state
@mixin anchors($c1, $c2) {
    a {
        &:link, &:visited { color: $c1; }        
        &:hover, &:active { color: $c2; }
    }
}

// adds a "raised" appearance to the element
@mixin raised($color, $blur: 2px) {
    background-color: $color;
    border: 1px solid darken($color, 20);
    @include box-shadow(
        inset 0 1px $blur desaturate(lighten($color, 30), 40),
        inset 0 -1px $blur darken($color, 10),
        0 1px $blur desaturate(darken($color, 20), 40)
    );
}

// adds an "inset" appearance to the element
@mixin inset($color, $blur: 2px) {
    background-color: $color;
    border: 1px solid darken($color, 20);
    @include box-shadow(
        inset 0 1px $blur darken($color, 20),
        0 1px $blur lighten($color, 80)
    );
}

// shorcut to define a message color scheme
@mixin message($bgcolor, $image) {
    font-weight: 500;
    color: darken($bgcolor, 60);
	padding: 0 0 0 23px;
    background: $bgcolor url(../img/icons/#{$image}.png) no-repeat 0px;
}

@mixin message-block($bgcolor, $image) {
    @include border-radius(0 0 3px 3px);
    @include box-shadow(inset 0 -2px 5px darken($bgcolor, 20), inset 0 1px 5px #999, 0 2px 5px #ccc);
    @include inline-block;
    background: $bgcolor url(../img/icons/#{$image}.png) no-repeat 10px;
    height: 42px;
    color: darken($bgcolor, 60);
    text-shadow: 0 1px 1px lighten($bgcolor, 40);
    border: 1px solid darken($bgcolor, 40);
    border-top: 0;

    > .content {
        @include inline-block;
        padding: 5px 10px 5px 33px;
    }

    > .action {
        @include inline-block;
        @include border-radius(0 0 3px 0);
        @include box-shadow(inset 0 -2px 5px $bgcolor, inset 0 1px 5px #aaa);
        font-weight: 500;
        cursor: pointer;
        text-shadow: 0 1px 1px #fff;
        vertical-align: top;
        height: 18px;
        padding: 12px 10px;
        background-color: rgba(#fff, 0.5);
        border-left: 1px solid darken($bgcolor, 40);

        &:hover {
            background-color: rgba(#fff, 0.8);
        }
    }
}


// WebKit only: sets the scrollbar to be thinner and less obtrusive
@mixin vertical-thin-scrollbar {
    &::-webkit-scrollbar { width: 5px; padding-right: 2px; }

    &::-webkit-scrollbar-thumb {
    
        &:vertical {
            background: rgba(0, 0, 0, 0.15);
            -webkit-border-radius: 10px;
        }
    }    
}

// WebKit only: sets the scrollbar to be thinner and less obtrusive
@mixin horizontal-thin-scrollbar {
    &::-webkit-scrollbar { height: 5px; }

    &::-webkit-scrollbar-thumb {
        &:horizontal {
            background: rgba(0, 0, 0, 0.15);
            -webkit-border-radius: 10px;
        }
    }    
}

// sets the appearance of an input element to have the Mac OS X-style
// search boxes
@mixin search-box {
    @include border-radius(15px);
    @include box-shadow(inset 2px 2px 3px #ccc);
    
    background: #fff url(../img/icons/search.png) no-repeat 3px;
    padding: 2px 5px 2px 21px;
    border: 1px solid #777;
}
