/*
** Base classes and styling for a sortable table elements
*/
.sortable {
    width: auto;
    border-collapse: separate;
	font-size: 12px;
	margin: 15px 0;
	border-spacing: 2px;
	background-color: #fff;
	
	thead, tfoot {
        td, th {
            @include raised(#FFF9A4);
            border: 1px solid darken(#fff9a4, 40);
            text-align: center;
            font-weight: 500;
        	padding: 5px 7px;
            @include text-shadow(inset, #444);        	
        }       

        .desc, .asc {
            // this cannot be used since the arrow icons override the
            // 'background-image' anyway.
            // @include raised(#FFEA5F);

            background-color: #FFEA5F;
            border-color: darken(#FFEA5F, 30);
        }
        
        .asc {
            background-image: url(../img/asc.gif);            
        }
        
        .desc {
            background-image: url(../img/desc.gif);            
        }

        // customize to accompany the ascending and descending icons
        .header {
            background-repeat: no-repeat;
            background-position: right center;
        	cursor: pointer;
            
            span {
                padding-right: 16px;                
            }
        }
 
	}

    tbody {
    	//font-family: "Gill Sans", "Trebuchet MS", sans-serif;

        tr.selected {
            background-color: #FFFBD8;
        }
        
        td, th {
            padding: 3px 5px;
            text-align: center;
            font-weight: normal;
            background-color: #fff;
            min-width: 150px; 

            > p, ul {
                text-align: left;
            }
            
            > ul li {
                margin-bottom: 5px;
            }
        }
        
        th {
            font-weight: 500;
        }
    }
    
    // nested tables
    .sortable, table {
        margin: 0;

        thead, tfoot {
            td, th {
                @include box-shadow(none);
                background-color: transparent;
                border: none;
                font-weight: 500;
            }
        }

        thead {
            td, th { border-bottom: 1px solid #ccc }
        }

        tfoot {
            td, th { border-top: 1px solid #ccc }
        }
    }
}
