// shorcut to define a message color scheme
@mixin message($color, $image) {
    font-weight: 500;
    color: $color;
	padding: 0 0 0 23px;
    background: transparent url(../../images//icons/#{$image}.png) no-repeat 0px;
}

@mixin message-block($bgcolor, $image) {
    @include border-radius(0 0 3px 3px);
    @include box-shadow(inset 0 1px 5px #999, 0 2px 5px #ccc);
    @include inline-block;
    background: $bgcolor url(../../images//icons/#{$image}.png) no-repeat 10px;
    text-shadow: 0 1px 1px #fff;
    border: 1px solid darken($bgcolor, 50);
    border-top: 0;
    padding: 5px 10px 5px 33px;

    > * {
        @include inline-block;
        vertical-align: middle;
    }

    .content {
        border-right: 1px solid darken($bgcolor, 40);
        padding-right: 5px;
        margin-right: 5px;
    }
}
