// adds a "raised" appearance to the element
@mixin box-raised($color, $blur: 2px) {
    background-color: $color;
    border: 1px solid darken($color, 20);
    @include box-shadow(
        inset 0 1px $blur desaturate(lighten($color, 30), 40),
        inset 0 -1px $blur darken($color, 10),
        0 1px $blur desaturate(darken($color, 20), 40)
    );
}

// adds an "inset" appearance to the element
@mixin box-inset($color, $blur: 2px) {
    background-color: $color;
    border: 1px solid darken($color, 20);
    @include box-shadow(
        inset 0 1px $blur darken($color, 20),
        0 1px $blur lighten($color, 80)
    );
}


// sets the appearance of an input element to have the Mac OS X-style
// search boxes
@mixin search-box {
    @include border-radius(15px);
    @include box-shadow(inset 2px 2px 3px #ccc);
    
    background: #fff url(../../images//icons/search.png) no-repeat 3px;
    padding: 2px 5px 2px 21px;
    border: 1px solid #777;
}
