<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Jasmine Test Runner</title>
  <% css.forEach(function(style){ %>
  <link rel="stylesheet" type="text/css" href="<%= style %>">
  <% }) %>
  <% with (scripts) { %>
  <% [].concat(jasmine, vendor, helpers).forEach(function(script){ %>
  <script src="<%= script %>"></script>
  <% }) %>
  <% }; %>
  <!-- TEST FILES -->
  <script>
        var require = {
            baseUrl: 'build/',
            config: {
                tpl: {
                    variable: 'data'
                }
            }
        };
        // Cilantro config
        var cilantro = {
            url: '/mock/root.json',
            autoload: true
        };
  </script>
  <script src="/build/require.js"></script>
  <script>
      require(['<%= [].concat(scripts.specs,scripts.reporters).join("','") %>'], function(){
        require(['<%= scripts.start.join("','") %>'], function(){
        }); 
      });
  </script>
</head>
<body>
<div id="arena" style="width:500px;"></div>
</body>
</html>

