// document header containing the project logo and account nagivation
#header {
    @include anchors(#666, #333);
    @include box-shadow(0 1px 3px darken(#dadfe8, 20), inset 0 1px 3px #aaa);
    color: #666;
    font-size: 0.85em;
    position: top;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    min-height: 25px;
    padding: 5px 10px;
    background-color: #fcfcfc;
    border-bottom: 1px solid #fff;
    > * {
        vertical-align: middle;
    }
    h1 {
        display: inline;
        margin: 0;
    }
    > span {
        float: right;
        margin-top: 7px;
    }
}
#logo-link {
    text-decoration: none;
}
// the main navigation across all pages
#main-nav {
    @include anchors(#aaa, #fff);
    @include box-shadow(inset 0 1px 2px #666, inset 0 -1px 2px #111, 0 1px 2px #999);
    background-color: #333;
    padding: 3px 0 5px 0;
    border: 1px solid #111;
    font-size: 0.9em;
    > :first-child {
        border-left: none;
    }
    > a, > span {
        @include text-shadow(#ddd);
        padding: 4px 10px;
        border: {
            right: 1px solid #111;
            left: 1px solid #444;
        }
        .icon {
            @include inline-block;
            position: relative;
            top: 1px;
            width: 14px;
        }
    }
    > a, > span {
        .workspace {
            background: transparent url(../../images/icons/workspace.png) no-repeat 0 0;
            height: 12px;
        }
        .databrowse {
            background: transparent url(../../images/icons/databrowse.png) no-repeat 0 0;
            height: 11px;
        }
        .query {
            background: transparent url(../../images/icons/query.png) no-repeat 0 0;
            top: 2px;
            height: 13px;
        }
        .selected, &:hover, &:active {
            .workspace {
                background-position: 0 -13px;
            }
            .databrowse {
                background-position: 0 -12px;
            }
            .query {
                background-position: 0 -13px;
            }
        }
    }
    > a {
        text-decoration: none;
        &:hover {
            cursor: pointer;
        }
        &:active {
            @include box-shadow(none);
            background-color: #111;
        }
    }
    > span {
        &.selected {
            @include box-shadow(none);
            background-color: #111;
        }
    }
}
// hidden placeholder for application messages to be made visible
#messages {
    position: relative;
    margin: 0 auto;
    text-align: center;
    height: 30px;
}
// area for page-specific content
#content {
    position: relative;
    top: 20px;
    width: 960px;
    margin: 0 auto;
    text-align: center;
}
// document footer for project copyright and other info
#footer {
    position: relative;
    top: 70px;
    left: 0;
    right: 0;
    color: darken(#dadfe8, 50);
    text-shadow: 0 1px 2px lighten(#dadfe8, 100);
    font-size: 0.9em;
    text-align: center;
}
// the Harvest tractor
#harvest-logo {
    margin: 0 auto;
    background: transparent url(../../images/harvest_tractor.png) no-repeat;
    height: 33px;
    width: 114px;
}
.ie7 {
    #header {
        border-bottom: 1px solid darken(#dadfe8, 10);
    }
}