.concept-info {
    margin-bottom: 10px;

    .name {
        font-weight: bold;
        font-size: 1.5em;
        color: #333;
    }

    .category {
        color: #777;

        i {
            margin: 0 5px;
        }
    }

    .description {
        font-weight: 200;
        font-size: 1.1em;
    }
}
