@mixin concept {
    @include backdrop;

    .concept-name {
        margin-top: 0;
    }

    .concept-name {
        display: block;
        font-weight: 500;
        font-size: 1.4em;
        margin-bottom: 10px;
    }

    .concept-description {
        color: #999;
        margin-bottom: 0;
    }
}
