.concept-workspace .nav-tabs {
    display: none;
}

.concept-workspace-history {
    margin: 0;

    .concept-info {
        border-bottom: 1px solid #ccc;

        &:last-child {
            border-bottom: none;
        }

        // Make it link-like..
        .name {
            @extend a;
            cursor: pointer;
        }

    }
}

.concept-workspace .empty-view {
    color: #777;

    .workflow {
        h3 {
            display: inline;
        }

        .icon-angle-right {
            float: right;
            margin-top: 4px;
        }
    }
}
