.context-tree .disabled {
    .language {
        color: #ccc;
    }
}

.context-node {
    @extend .clearfix;

    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #ccc;

    .language {
        @include transition(color, 0.2s);
        @extend a;
        cursor: pointer;
    }

    .actions {
        float: right;
        cursor: pointer;
        font-size: 12px;
        margin-left: 5px;

        .remove {
            color: rgb(180, 0, 0);
        }
    }
}


.branch-type {
    color: #999;
    font-weight: 500;
    font-size: 0.85em;
    font-variant: small-caps;
}

.branch-children {
    margin-left: 0;
}

.context-actions {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
