@mixin concept {
    .name {
        font-weight: 500;
    }

    .category {
        font-size: 0.85em;
        color: #999;
    }

    .description {
        font-size: 1.1em;
        font-weight: 200;
    }
}
