.concept-form {
    .concept-info {
        @include concept;
        margin-bottom: 10px;
    }

    // No extra margins..
    .concept-fields .field-form:last-child {
        margin-bottom: 0;
    }

    .concept-actions {
        @include clearfix;

        [data-toggle=add], [data-toggle=update] {
            float: right;
            margin-left: 5px;
        }
    }
}
