.field-form {
    &.condensed {
        .stats-region {
            display: none;
        }

        .info-region {
            font-size: 0.85em;
        }

        .info-bar-chart {
            .toolbar {
                display: none;
            }

            .info-bar {
                height: 20px;

                .bar {
                    height: 20px;
                }

                .bar-mask {
                    padding-top: 0;
                    padding-bottom: 0;
                }
            }
        }
    }
}
