.accordian {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 3px;

    .group {
        padding: 5px;
        border-bottom: 1px solid #ccc;

        &:last-child {
            border-bottom: none;
        }

        > .heading {
            font-weight: 600;
            position: relative;
            cursor: pointer;
            padding: 0 5px;

            > i {
                position: absolute;
                font-size: 12px;
                top: 5px;
                right: 5px;
            }
        }

        .sections {
            margin: 5px 0 0 0;
            background-color: #fff;
            border: 1px solid #ccc;

        }
    }

    .section {
        > .heading {
            color: #999;
            text-transform: uppercase;
            font-size: 0.8em;
            font-weight: 600;
            padding: 5px;
        }

        li a {
            padding: 3px 15px;
        }
    }

}
