.accordian {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    @include border-radius(3px);

    .accordian-group {
        padding: 5px;
        border-bottom: 1px solid #ccc;
        &:last-child {
            border-bottom: none;
        }
    }

    .accordian-heading {
        font-weight: 500;
        position: relative;
        cursor: pointer;
        padding: 0 5px;

        > i {
            position: absolute;
            font-size: 12px;
            top: 6px;
            right: 5px;
        }
    }

    .accordian-items {
        margin: 5px 0 0 0;
        background-color: #fff;
        border: 1px solid #ccc;

        li.nav-header {
            padding-left: 5px;
            padding-right: 5px;
        }

        li a {
            padding: 3px 15px;
        }
    }
}
