// Full-screen modal (with margins)
.modal.full {
    position: fixed;
    top: 5%;
    bottom: 5%;
    margin: 0;

    &.in {
      top: 5%;
    }

    .modal-body {
        position: absolute;
        left: 0;
        right: 0;
        top: 48px;
        bottom: 58px;
        max-height: none;
    }

    .modal-header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    .modal-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
}


// Do not grow beyond specific (and arbitrary) size
@media (min-width: 1200px) {
    .modal.full {
        width: 1000px;
        margin-left: -500px;
    }
}

// Just right.. expand close to the edges
@media (min-width: 768px) and (max-width: 1199px) {
    .modal.full {
        right: 5%;
        left: 5%;
        width: auto;
    }
}

// Fill the screen
@media (max-width: 767px) {
    .modal.full {
        width: auto;
        margin-left: auto;
        bottom: 20px;
    }
}
