<div class=pull-right>
    <button data-role=remove class="btn btn-danger btn-mini" title="Remove All Filters"><i class="icon-remove icon-white"></i></button>
</div>

<div class=count-label>
    <% if (data.count == null) { %>
        <span class=count>All</span>
    <% } else { %>
        <span class=count title="<%= data.count %>"><%= data.pretty_count %></span>
    <% } %>
    <span class=units>
        <% if (data.count == 1) { %>
            <%= data.object_name %>
        <% } else { %>
            <%= data.object_name_plural %>
        <% } %>
    </span>
    <i class="icon-spinner icon-spin hide"></i>
</div>
