<div>
    <input type=text class="range-from datepicker" />
    <span class=muted>&nbsp;to&nbsp;</span>
    <input type=text class="range-to datepicker" />
    <a class="btn range-help-button" href="#" title="Show/hide help text"><i class="icon-question-sign"></i></a>
</div>    
<span class="help-block">Entering a date on the left while leaving the right empty represents a filter matching all dates greater than or equal to the supplied date. Conversely, entering a date on the right and leaving the left empty represents a filter matching all dates less than or equal to the supplied date. Entering values in both boxes will match all dates within the range specified.</span>
