#report-editor {
    @include clearfix;

    input[name="name"] {
        font-size: 22px;
        width: 473px;
        margin-bottom: 10px;
    }

    textarea {
        width: 473px;
        height: 100px;
    }

    .controls {
        margin-top: 10px;
        text-align: right;
    }
}

#report-name {
    // emulate the natural height of the element so it's doesn't resize when the
    // content is loaded
    min-height: 17px;
    cursor: pointer;
}

.report {
    @include box-shadow(none);
    @include transition((box-shadow, border), 0.5s, ease-in-out);
    @include border-radius(3px);
    @include clearfix;

    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #aaa;
    background-color: #fff;

    &:last-child {
        margin-bottom: 0;
    }

    &:hover {
        @include box-shadow(0 1px 3px #aaa);
        border-color: #999;
    }

    .time {
        cursor: default;
        margin: 2px 0 5px 0;
        float: right;

        ~ * { clear: right; }
    }

    [role=description] {
        @extend .info;
        @include border-radius(3px);
        padding: 5px;
        margin-top: 5px;
        background-color: #eee;
        font-size: 0.9em;
    }

    .controls {
        @include box-shadow(inset 0 2px 2px #ccc);
        @include border-radius(3px);
        display: none;
        background-color: #eee;
        border: 1px solid #bbb;
        margin-top: 5px;
        text-align: right;
        padding: 3px;
    }
}
