<div class=navbar-inner>
    <div class=btn-toolbar>
        <div class="navbar-form">
            <button class="btn invert-button" name=invert title="Invert Selection">Invert Selection</button>
            <span class='filter-container'>
                <input class=filter-text type=text name=filter placeholder="Filter values...">
            </span>
            <div class='exclude-container'>
                <input class='exclude-checkbox' type='checkbox' name='exclude' /> <span class='exclude-label'>Exclude selected values</span>
            </div>
        </div>
    </div>
</div>
<div class=sort-region>
    <span class=sort-value-header>Value <i class=icon-sort></i></span><span class=sort-count-header>Count <i class=icon-sort-down></i></span>
</div>
